Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Refactor DataType enum to not have an unnamed tuple of information and simply be an enum value. Add a lookup in a dictionary for the information
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Format with ni-python-styleguide
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Make enum values simple numbers
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add docstrings
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix some mypy errors
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: if else in start method in service_manager.py
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: Used Union to specify different return types
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: Naming changes, if else
  ni_measurementlink_service/measurement/service.py
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: assert condition
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Lint errors
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measurement_service.proto to include message_type (#352)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: Use Optional instead of Union
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Make private _datatypeinfo module
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run ni-python-styleguide
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating README to mention requiring pyinstaller to be installed to venv, and the requirement to include .serviceconfig file.
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Remove extra dictionary lookup
  ni_measurementlink_service/_datatypeinfo.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refactor DataType enum so it doesn't contain all of the data type information (#354)
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add measurement example involving NI-DCPower and NI-VISA DMM instruments (#323)
  examples/output_voltage_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/output_voltage_measurement/OutputVoltageMeasurement.instudioproj
  examples/output_voltage_measurement/OutputVoltageMeasurement.measproj
  examples/output_voltage_measurement/OutputVoltageMeasurement.measui
  examples/output_voltage_measurement/OutputVoltageMeasurement.pinmap
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurement.serviceconfig
  examples/output_voltage_measurement/OutputVoltageMeasurement.sfp
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_constants.py
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/poetry.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/output_voltage_measurement/start.bat
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Add message_type to datatypeinfo and ParameterMetadata. Add DoubleXYData type enum. No parsers for it yet.
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ni-python-styleguide fix
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated exceptions to be raised from discovery_client.py
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated caller to catch the expections from called methods
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Test updates on error handling
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert: Removed new marker in pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Modify generate stubs to work when test asset .proto files reference ni types in stubs.
  scripts/generate_grpc_stubs.py
  tests/assets/test.proto
  tests/assets/test_pb2.py
  tests/assets/test_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add serializer and deserializer for DoubleXYData with tests
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint and styleguide errors
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  scripts/generate_grpc_stubs.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Get tests passing
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Game of life working in Python. Need to set up pyproject.toml etc.
  examples/game_of_life/game_of_life.measproj
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/game_of_life.serviceconfig
  examples/game_of_life/measurement.py
  examples/game_of_life/start.bat
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add message_type to ParameterMetadata and DataTypeInfo (#357)
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix mypy errors
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  tests/unit/test_serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Put underscore before some private methods.
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated raise with no arguments
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Don't catch the inner exceptions
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: FakeDiscoveryServiceError
  tests/integration/test_service_manager.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Lint errors
  ni_measurementlink_service/measurement/service.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Don't catch inner exceptions in stop method
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Spacing
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update examples to centralize USE_SIMULATION in _constants.py (#348)
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/README.md
  examples/nidigital_spi/_constants.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/_constants.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/README.md
  examples/nifgen_standard_function/_constants.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/README.md
  examples/niscope_acquire_waveform/_constants.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/README.md
  examples/niswitch_control_relays/_constants.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_constants.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni
