Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Fix lint errors
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating loading serviceconfig to use executable path if frozen attribute exists.
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
  examples/sample_streaming_measurement/measurement.py
  examples/ui_progress_updates/measurement.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
  tests/utilities/loopback_measurement/__init__.py
  tests/utilities/streaming_data_measurement/__init__.py
  tests/utilities/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating README.
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fixing example renders.
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Move helpers to _message.py
  ni_measurementlink_service/_internal/parameter/_message.py
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use ValueError
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add unsupported encoder for Array messages
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update to _EncodeVarint and _DecodeVarint copied directly
  ni_measurementlink_service/_internal/parameter/_message.py
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tracelogging: Remove event ids and add activity ids
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/_tracelogging.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add gRPC client/server call logging interceptors (#347)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Prototype ETW logging with Microsoft's traceloggingdynamic package
  ni_measurementlink_service/_loggers.py
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tracelogging: Remove event ids and add activity ids
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/_tracelogging.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Refactor trace logging
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/_tracelogging.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Ignore missing imports for traceloggingdynamic
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fix mypy errors with types-protobuf 4.24
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Use TypeGuard to simplify type narrowing
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Avoid importing typing_extensions at run time
  ni_measurementlink_service/_loggers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Reverting change to test utilities as it is unnecessary.
  tests/utilities/loopback_measurement/__init__.py
  tests/utilities/streaming_data_measurement/__init__.py
  tests/utilities/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating README with suggestions from PR.
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Fix mypy errors with types-protobuf 4.24 (#362)
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Read serviceconfig path from __file__ or exe location and update README. (#355)
  README.md
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
  examples/sample_streaming_measurement/measurement.py
  examples/ui_progress_updates/measurement.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Restrict tracelogging usage to Python 3.9 and later
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Improve error handling in measurement register with discovery service (#353)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove unnecessary local
  ni_measurementlink_service/_internal/parameter/_message.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add type hints for encoder and decoder
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update Game of Life with _helpers.py, pyproject.toml, and README
  examples/game_of_life/README.md
  examples/game_of_life/_helpers.py
  examples/game_of_life/measurement.py
  examples/game_of_life/poetry.toml
  examples/game_of_life/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Add type hints for measure parameters.
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove unused TypeVar from _helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
  examples/sample_streaming_measurement/_helpers.py
  examples/ui_progress_updates/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove unused TypeVar
  examples/game_of_life/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add support for ETW logging (#361)
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/_tracelogging.py
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove unused TypeVar from _helpers.py (#363)
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
  examples/sample_streaming_measurement/_helpers.py
  examples/ui_progress_updates/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Make enum zero translation more readable
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add type hint for _Encoder
  ni_measurementlink_service/_internal/parameter/EncodeDecodeNotes.md
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Add type hint for _Decoder
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Rename type aliases to InnerEncoder and InnerDecoder
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Make enum zero translation more readable (#365)
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix docstrings and add some additional type hints.
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
