Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Shortening comments.
  examples/sample_streaming_measurement/measurement.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_v2_measurement_service.py
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Shortening comments even further.
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding missing type annotaion.
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing readme. Fixing some style issues. And fixing return type for measurement, though it may change again.
  examples/sample_streaming_measurement/README.md
  examples/sample_streaming_measurement/measurement.py
  tests/assets/sample_measurement_test.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Adding default values to reduce test size.
  examples/sample_streaming_measurement/measurement.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Checking error message.
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding back assert that should not have been removed.
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating toml file.
  examples/sample_streaming_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Update grpc-stubs version
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Specify grpc-stubs version constraint
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service, examples: Use grpc-stubs for type information (#275)
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Removing unnecessary docstrings.
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Renaming test file to test_streaming_data_measurement.py
  tests/acceptance/test_streaming_data_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Added common helper method to reserve and create session for DC Power Example (#263)
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding yield vs return test to validate we support both yield and return in the same v2 measurement.
  tests/acceptance/test_yield_vs_return.py
  tests/assets/ui_progress_updates_test.proto
  tests/assets/ui_progress_updates_test_pb2.py
  tests/assets/ui_progress_updates_test_pb2.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing lint issue.
  tests/acceptance/test_yield_vs_return.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_streaming_data_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_streaming_data_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Create Predictable Streaming Measurement example and write automated tests (#279)
  examples/sample_streaming_measurement/README.md
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measproj
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measui
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/sample_streaming_measurement/measurement.py
  examples/sample_streaming_measurement/poetry.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/sample_streaming_measurement/start.bat
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/assets/sample_streaming_measurement_test.proto
  tests/assets/sample_streaming_measurement_test_pb2.py
  tests/assets/sample_streaming_measurement_test_pb2.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.py
  tests/assets/ui_progress_updates_test.proto
  tests/assets/ui_progress_updates_test_pb2.py
  tests/assets/ui_progress_updates_test_pb2.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.py
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Disable result recording in Setup and Cleanup block steps (#278)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Fix imports in .pyi type stubs
  scripts/generate_grpc_stubs.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update codegen
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Don't exclude protobuf codegen from mypy
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Fix imports in .pyi type stubs (#280)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  pyproject.toml
  scripts/generate_grpc_stubs.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add missing types to MeasurementContext
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change add_cancel_callback() to take a more specific callable type
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update PinMapContext docs
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update MeasurementContext.pin_map_context to return named tuple, not protobuf message
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add missing type info to MeasurementContext & use correct types (#281)
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use timing and levels sheets name when applying rather than path
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Simplify code per PR review
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove unnecessary helper function per PR review
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update ni fgen example
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update the scope example
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niscope_acquire_waveform/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidigital example updates
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update nidigital examples
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nidmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update niswitch helpers
  examples/nidigital_spi/_nidigital_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/niswitch_control_relays/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use timing and levels sheets name when applying rather than path (#282)
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidaqmx example update
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/_nidaqmx_helpers.py
  examples/nidaqmx_analog_input/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
