Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

PR workflow: Don't uninstall extras when generating docs
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Install extras when building docs and reuse check_nims and check_nimg
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Add comment about check_examples
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Fix errors with no extras installed
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

docs: Enable the githubpages and intersphinx extensions
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

GitHub workflows: Remove `touch docs/.nojekyll`
  .github/workflows/Publish_NIMS.yml
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

docs: Fix typo in config file
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

docs: Show type hints in attribute/parameter descriptions
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Fix a copy/paste error caught by unit tests
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add unit tests for nidigital, nidmm, and niscope
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_niscope.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Merge pull request from GHSA-3f48-9j7q-q2gv
  ni_measurementlink_service/_internal/service_manager.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_security.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Merge pull request from GHSA-3f48-9j7q-q2gv
  ni_measurementlink_service/_internal/service_manager.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_security.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Merge pull request from GHSA-3f48-9j7q-q2gv
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Publish_NIMS workflow: Allow updating published releases (#330)
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[releases/1.1] Publish_NIMS workflow: Allow updating published releases (#330) (#434)
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

docs: Enable githubpages, intersphinx, and type hints (#430)
  .github/workflows/Publish_NIMS.yml
  .github/workflows/check_nims.yml
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Depend on released version (#414)
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add support for Python 3.12 (#427)
  .github/workflows/run_tests.yml
  ni_measurementlink_generator/poetry.lock
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Add error info to create_session(s) docstrings
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update new session count errors to say "reserved sessions"
  ni_measurementlink_service/session_management.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove id_query parameter
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/session_management.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

pyproject.toml: Include multiple NumPy versions in poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Add driver-specific create_session(s) APIs for MI drivers (#429)
  .github/workflows/Publish_NIMS.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_tests.yml
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_sessiontypes.py
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
  tests/unit/_drivers/_driver_utils.py
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
  tests/unit/_reservation_utils.py
  tests/unit/conftest.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add create_nidaqmx_task(s) API
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add unit tests for create_nidaqmx_task(s)
  tests/unit/_drivers/test_nidaqmx.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add error info to create_nidaqmx_session(s) docs
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add create_nidaqmx_task(s) API (#432)
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/session_management.py
  tests/unit/_drivers/test_nidaqmx.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change gRPC conversion functions into private methods
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fork session_management.py into submodules
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Split session_management.py into submodules
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_sessiontypes.py
  ni_measurementlink_service/session_management.py
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change gRPC conversion functions into private methods
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Split session_management.py into submodules
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_sessiontypes.py
  ni_measurementlink_service/session_management.py
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fork session_management.py into submodules
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Clean up .measui for game of life
  examples/game_of_life/game_of_life.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Patch __new__ instead of patching the Session class
  tests/unit/_drivers/test_nidaqmx.py
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix session type checks
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove runtime type check from create_session(s)
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update label casing and panel alignment
  examples/game_of_life/game_of_life.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fork discovery_client submodule
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/discovery/_support.py
  ni_measurementlink_service/discovery/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
