Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[releases/1.2] Fix pywintypes error during the launch of the discovery service after a fresh install of MeasurementLink (#407)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove mention of '--no-use-simulation' command line
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidigital_spi/_constants.py
  examples/nidmm_measurement/_constants.py
  examples/nifgen_standard_function/_constants.py
  examples/niscope_acquire_waveform/_constants.py
  examples/niswitch_control_relays/_constants.py
  examples/nivisa_dmm_measurement/_constants.py
  examples/output_voltage_measurement/_constants.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Update reserve_session to roll back on error (#401)
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[releases/1.2] service: Update reserve_session to roll back on error (#401) (#409)
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service, generator: Set version to 1.2.0
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Depend on released version
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Depend on released version
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Comment out path = ../..
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Comment out path = ../..
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Don't install dev-dependencies into C:\ProgramData
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update start.bat to use virtualenv
  examples/game_of_life/start.bat
  examples/nivisa_dmm_measurement/start.bat
  examples/output_voltage_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Update start.bat to use virtualenv
  ni_measurementlink_generator/ni_measurementlink_generator/templates/start.bat.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Fix lint warnings
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update start.bat to use virtualenv
  examples/game_of_life/start.bat
  examples/nivisa_dmm_measurement/start.bat
  examples/output_voltage_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update start.bat to use virtualenv (#416)
  examples/game_of_life/start.bat
  examples/nivisa_dmm_measurement/start.bat
  examples/output_voltage_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[releases/1.2] examples: Update start.bat to use virtualenv (#416) (#419)
  examples/game_of_life/start.bat
  examples/nivisa_dmm_measurement/start.bat
  examples/output_voltage_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Don't install dev-dependencies into C:\ProgramData (#415)
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Update start.bat to use virtualenv (#417)
  ni_measurementlink_generator/ni_measurementlink_generator/templates/start.bat.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[releases/1.2] Prepare to release 1.2.0 (#413)
  examples/game_of_life/pyproject.toml
  examples/sample_measurement/pyproject.toml
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Fix incorrect discovery client test case names (#404)
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Changing measured value indicator to use digitals of precision instead of significant digits.
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Meant to use significant digits.
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Increasing significant digits to 7. Increase size of the box. Ensuring margins on left and right are the same.
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updating DMM and Output Voltage examples to use significant digits with 7 digits.
  examples/nidmm_measurement/NIDmmMeasurement.measui
  examples/output_voltage_measurement/OutputVoltageMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Increasing indicator size.
  examples/output_voltage_measurement/OutputVoltageMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Add dependency on python-decouple
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Add feature toggle tests
  pyproject.toml
  tests/conftest.py
  tests/unit/__init__.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add feature toggle implementation
  ni_measurementlink_service/_featuretoggles.py
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add python-decouple to poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Change feature decorator into a free function
  ni_measurementlink_service/_featuretoggles.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add use_code_readiness
  ni_measurementlink_service/_featuretoggles.py
  pyproject.toml
  tests/conftest.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove runtime typing_extensions import
  ni_measurementlink_service/_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Rename a constant and remove an extra import
  ni_measurementlink_service/_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Rename READINESS_LEVEL and hide it behind an accessor function
  ni_measurementlink_service/_featuretoggles.py
  tests/conftest.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Make CodeReadiness an ordered enum
  ni_measurementlink_service/_featuretoggles.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix incorrect feature toggle name
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove MEASUREMENTLINK_CODE_READINESS_LEVEL override
  ni_measurementlink_service/_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Change default code readiness level to PROTOTYPE
  tests/conftest.py
  tests/unit/test_featuretoggles.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add pin_aware_measurement
  tests/assets/pin_aware_measurement.proto
  tests/assets/pin_aware_measurement_pb2.py
  tests/assets/pin_aware_measurement_pb2.pyi
  tests/assets/pin_aware_measurement_pb2_grpc.py
  tests/assets/pin_aware_measurement_pb2_grpc.pyi
  tests/utilities/pin_aware_measurement/PinAwareMeasurement.serviceconfig
  tests/utilities/pin_aware_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add reserve_session(s) to MeasurementContext
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
