Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Update pytest options
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Delete screenshot of Poetry "command not found" error from README.md
  PoetryInstallFail.png
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update docs to redirect users to the appropriate release
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Revise warning
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Add ui_progress_updates
  examples/ui_progress_updates/UIProgressUpdates.measproj
  examples/ui_progress_updates/UIProgressUpdates.measui
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
  examples/ui_progress_updates/measurement.py
  examples/ui_progress_updates/poetry.toml
  examples/ui_progress_updates/pyproject.toml
  examples/ui_progress_updates/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Draft: Update nidaqmx analog input example with latest nidaqmx-python changes
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.pinmap
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Rename measurement step in teststand sequence
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix linters
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Resave UIProgressUpdates UI with MeasLink 23.3
  examples/ui_progress_updates/UIProgressUpdates.measproj
  examples/ui_progress_updates/UIProgressUpdates.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add ui_progres_updates readme
  examples/ui_progress_updates/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

tests: Update pytest options for doctests, markers, testpaths, and warnings (#264)
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Allow releasing from releases/*
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Run on PRs for releases/*
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Upload archives of the examples as release assets
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Specify --prefix for the tarball but not the zip file
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Change name of push-protected step
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Upload archive of examples as release assets (#269)
  .github/workflows/PR.yml
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Use `published` to run when publishing a draft prerelease
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish workflow: Use `published` to run when publishing a draft prerelease (#270)
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Rewrite example versioning docs
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Simplify ui_progress_updates description
  examples/README.md
  examples/ui_progress_updates/README.md
  examples/ui_progress_updates/measurement.py
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Account for communication overhead when delaying for UI update interval
  examples/ui_progress_updates/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: create nidcpower helpers functions
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

example: Fix adapter settings
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Resolve comments
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.pinmap
  examples/nidaqmx_analog_input/README.md
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Update measui and rename physical_channel
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.measproj
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.measui
  examples/nidaqmx_analog_input/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update readme
  examples/nidaqmx_analog_input/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Resolve comments
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update pyproject.toml to use unreleased version of nidaqmx-python
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Rename instrument name in pinmap
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update ui_progress_updates dependencies
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add ui_progress_updates (#266)
  examples/README.md
  examples/ui_progress_updates/README.md
  examples/ui_progress_updates/UIProgressUpdates.measproj
  examples/ui_progress_updates/UIProgressUpdates.measui
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
  examples/ui_progress_updates/measurement.py
  examples/ui_progress_updates/poetry.toml
  examples/ui_progress_updates/pyproject.toml
  examples/ui_progress_updates/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Refactor: examples: Updated create session helper method
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix import order lint issues
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update pyproject.toml to use nidaqmx-python's master branch
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.sfp
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Link pinmap file to instrument studio project
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.instudioproj
  examples/nidaqmx_analog_input/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update sequence file to python 3.9
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidaqmx_analog_input/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Resolve lint errors
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix import order
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
