Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

discovery_client: Launch discovery service just-in-time
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: add comments to functions
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Fix lint errors.
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removed str_to_enum helper and switched to doing lookup directly. Fixed up removal of enum.
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed linting.
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removed Enum encoders and decoders to just user int32 ones.
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed tests with last change.
  tests/unit/test_serialization_strategy.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added requirement that enums must have a zero value. Fixed tests and examples. Added a test to validate that we throw exceptions is enum does not contain a zero value.
  examples/sample_measurement/SampleAllParameters.measui
  examples/sample_measurement/SampleMeasurement.measui
  examples/sample_measurement/measurement.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_metadata.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix linting issues.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

scripts: Add --mypy_grpc_out option
  scripts/generate_grpc_stubs.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Regenerate gRPC stubs
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
  tests/assets/sample_measurement_test_pb2_grpc.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.pyi
  tests/assets/test_pb2_grpc.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Remove exclusion for *_grpc.py
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Standardized _helpers.py.
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removed unnecessart quote conversion.
  ni_measurementlink_service/_internal/parameter/metadata.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update tests/unit/test_service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removed custom error as default error is sufficient.
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue where we were generating single-quote vs double-quote for enum annotation json.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Switched to using `object` instea of `Any` for these private validation helpers.
  ni_measurementlink_service/_internal/parameter/metadata.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

codegen: Generate `.pyi` type stubs for gRPC client stub classes (#292)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
  pyproject.toml
  scripts/generate_grpc_stubs.py
  tests/assets/sample_measurement_test_pb2_grpc.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.pyi
  tests/assets/test_pb2_grpc.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue with examples where some enums did not have a zero value.
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated TestStand sequence files for examples by opening them and reloading measurement parameters.
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fixed linting issues.
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

add helpers import to measurement template
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

update generator to include the helpers
  ni_measurementlink_generator/ni_measurementlink_generator/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update the helpers based on latest updates
  ni_measurementlink_generator/ni_measurementlink_generator/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add helper to get session information based on pin name (#276)
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix lint errors
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

remove unwanted spaces between imports
  ni_measurementlink_generator/ni_measurementlink_generator/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add service Annotation Support
  examples/sample_measurement/SampleMeasurement.serviceconfig
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/example.v3.serviceconfig
  tests/assets/example.v4.serviceconfig
  tests/assets/example.v5.serviceconfig
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Copy discovery_service.proto and run generate grpc stub
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/discovery/v1/discovery_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix mypy on Tests
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix style and running black.
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2.pyi
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/sample_measurement_test_pb2.pyi
  tests/assets/sample_streaming_measurement_test_pb2.pyi
  tests/assets/test_pb2.pyi
  tests/assets/ui_progress_updates_test_pb2.pyi
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Too many characters in single line
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix mypy errors.
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added comment about TestStand version to examples/README.md.
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix mypy, black
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
  tests/assets/sample_measurement_test_pb2.pyi
  tests/assets/test_pb2.pyi
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert Update to Example
  examples/sample_measurement/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update Example Services' TestStand Sequences for Enum Support (#295)
  examples/README.md
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Reran Black
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed issue where we pass in the wrong enum type.
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
