Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Update unregister service function to return false if service is not registered with disc service
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Delete duplicate test case
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Get rid of resource warning
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Ran black
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Fix comments and private variable for subprocess
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: When a python measurement starts discovery service, hide discovery service logs (#343)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update readme
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

discovery_client: Fix auto-launching discovery service producing a ResourceWarning (#344)
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix PR comments
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurementt.seq
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/pyproject.toml
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix: Added creation flags for subprocess.Popen
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Mypy error
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

revert other examples changes
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix build errors.
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update OutputVoltageMeasurement.seq file
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

fix lint errors
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix lint errors
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Mypy error: Import from _winapi
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Mypy error: Use literal instead
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Added global boolean to identify test environment
  ni_measurementlink_service/_internal/utilities/globaltestingstate.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Setting IsInTestState boolean to true for measurements in tests
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Killed Discovery Service which was started by Test environment
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Mypy error: Import CREATE_BREAKAWAY_FROM_JOB
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Lint error
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert: Reverted back last mypy changes
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Lint error
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Made the creation flag platform specific
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated the test with plaform specific creation flags value
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: name changes
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Name changes
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added Creation flag CREATE_BREAKAWAY_FROM_JOB to stop Discovery service terminating in Debug mode (#345)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

move use_simulation bool to _constants.py
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
  examples/output_voltage_measurement/_constants.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Delete globaltestingstate.py
  ni_measurementlink_service/_internal/utilities/globaltestingstate.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Added a generator class discovery service process
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Added generator fixture for yeilding discovery service process
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Returned _discovery_service_subprocess
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated tests to use generator fixture
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Update reurn types in Context manager discovery_service_process.py
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Import Self from typing_extensions
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Removed throw away variable assignments
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Test: Remove the context manager call
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
