Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

examples: Add simulation info, except for NI-FGEN
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidmm_measurement/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Undoing change style tool made.
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating FGEN example to catch timeout and maximum time exceeded exce… (#211)
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing abort_when_done from FGEN example.
  examples/nifgen_standard_function/NIFgenStandardFunction.measui
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing protection from seq file. Loads in TestStand without the dialog.
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add README.md files and address Ryan's feedback on the VISA example (#210)
  README.md
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Removing abort_when_done from FGEN example. (#212)
  examples/nifgen_standard_function/NIFgenStandardFunction.measui
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Merge DCPower examples with the .measui and VI interfaces
  README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.sfp
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageMultiSite.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageUI.vi
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/_helpers.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/poetry.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/pyproject.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/start.bat
  examples/nidcpower_source_dc_voltage_with_labview_ui/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Add the .vi user interface file
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageUI.vi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Replacing DriverError with Error. Adding additional error code for timeout exceeded error.
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update read mes
  README.md
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update readmes to include information about multiple UI files
  examples/nidcpower_source_dc_voltage/README.md
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update readmes to include information about multiple UI files
  examples/nidcpower_source_dc_voltage/README.md
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Mention multiple UIs for sample measurement
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Replacing.Error with .errors.DriverError. Fixing fgen example as well.
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Combine DC Power examples into one that has a .measui and a .vi (#214)
  README.md
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageUI.vi
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.sfp
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageMultiSite.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/_helpers.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/poetry.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/pyproject.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/start.bat
  examples/nidcpower_source_dc_voltage_with_labview_ui/teststand_fixture.py
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Replacing DriverError with Error. Adding additional error code for timeout exceeded error. (#216)
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measui file with Current measurement having Ampere unit
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update measui file with Current measurement having Ampere unit (#217)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Prevent syncing to PR comments
  .github/workflows/sync_github_issues_to_azdo.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updating MeasurementService __init__ to parse .serviceconfig.
  examples/nidmm_measurement/measurement.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing some issues raised by build.
  examples/nidmm_measurement/measurement.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing more style issues.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding service_class optional parameter and other small fixes.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing issue and using loopless approach.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Running styleguide fix.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Replacing List[str] with List[Path]
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Importing Path from pathlib. Trying to fix build errors.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Using filter.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing filter.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating the rest of the examples.
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating testassets example.
  ni_measurementlink_generator/tests/test_assets/example_renders/example.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating mako template.
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fixing build issues.
  examples/nidaqmx_analog_input/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing variable name.
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Renaming variable from parent_directory to service_directory
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/example.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Change serviceconfig path paramter from str to Path.
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing tests.
  tests/assets/example.serviceconfig
  tests/integration/test_service_manager.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing style issues and warnings.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Making assets variable name make sense.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
