Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Updated the Readme file
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Change get_connection to take a single pin name and single site
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove SITE_ALL_SITES constant
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Check scalar parameter types
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Use dict_keys as an ordered set
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Rewrite get_connections() error handling
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add another error test case
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove unnecessary repr() usage
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fixed review comments by refactoring visa dmm py
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.pinmap
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/_visa_dmm_sim.yaml
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Add driver-specific create_session(s) APIs
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add driver-specific create_session(s) unit tests
  tests/unit/_drivers/test_nidaqmx.py
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add generic get_connection(s) API (#438)
  _docs_source/conf.py
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
  tests/assets/integration/session_management/PinMapA_3Instruments_3DutPins_2SystemPins_2Sites.pinmap
  tests/assets/integration/session_management/PinMapB_3Instruments_3DutPins_2SystemPins_2Sites_SharedPins.pinmap
  tests/assets/integration/session_management/PinMapC_MultipleInstrumentsPinsRelaysAndSites.pinmap
  tests/integration/test_reservation.py
  tests/unit/test_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fixed Brad's comment on visa dmm driver
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/_visa_dmm_sim.yaml
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Add driver-specific get_*_connection(s) APIs (#440)
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/_drivers/test_nidaqmx.py
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nidaqmx_analog_input to use new session management API
  examples/nidaqmx_analog_input/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nidigital_spi to use new session management API
  examples/nidigital_spi/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nidcpower_source_dc_voltage to use new session management API
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nifgen_standard_function to use the new session management API
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nidmm_measurement to use new session management API
  examples/nidmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update niscope_acquire_waveform to use new session management API
  examples/niscope_acquire_waveform/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix NI-SWITCH simulation
  ni_measurementlink_service/_drivers/_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix an error in a docstring
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Update test_niswitch.py simulation behavior
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update niswitch_control_relays to use the new session management API
  examples/niswitch_control_relays/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add ni-python-styleguide dependency
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Exclude examples from ni-python-styleguide for main project
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Lint examples separately
  .github/workflows/check_examples.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated error message
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Add renovate.json
  renovate.json
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fix NI-SWITCH simulation errors (#441)
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Create visa_dmm custom driver and updated nivisa_dmm_measurement (#439)
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.pinmap
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/_visa_dmm_sim.yaml
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Update DAQmx and MI examples to use new session management API (#442)
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add more instrument IDs to _visa_dmm.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nivisa_dmm_measurement to use the new session management API
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update output_voltage_measurement to use the new session management API
  examples/output_voltage_measurement/OutputVoltageMeasurement.pinmap
  examples/output_voltage_measurement/_visa_dmm.py
  examples/output_voltage_measurement/_visa_dmm_sim.yaml
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Ignore missing type stubs for decouple
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated output voltage with custom visa dmm driver
  examples/output_voltage_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/output_voltage_measurement/OutputVoltageMeasurement.pinmap
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
  examples/output_voltage_measurement/_visa_dmm.py
  examples/output_voltage_measurement/_visa_dmm_sim.yaml
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fixed lint errors
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update the NI-DCPower TestStand code module to use the new session management API
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated output voltage with custom visa dmm driver (#447)
  examples/output_voltage_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/output_voltage_measurement/OutputVoltageMeasurement.pinmap
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_visa_dmm.py
  examples/output_voltage_measurement/_visa_dmm_sim.yaml
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni
