Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

discovery_client: Add measurement v2
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add V1/V2 servicers
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Streaming version needs to yield, not return
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add a couple test cases for measurement v2
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update serviceconfig for measurement v2
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Update serviceconfig for measurement v2
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Update example for measurement v2
  tests/assets/example.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

revert .lock file
  ni_measurementlink_generator/poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

bugfix: 'gbk' codec can't decode byte (#240)
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Improve Mako usage, error handling, and type annotations (#243)
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Loosen pywin32 version and update mypy config
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Add mypy config and update deps
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service, generator: Add py.typed marker
  ni_measurementlink_generator/ni_measurementlink_generator/py.typed
  ni_measurementlink_service/py.typed
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Use Poetry 1.2+ group syntax
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update type annotations
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add mypy configs
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: More prerelease dependencies
  examples/nidaqmx_analog_input/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Invoke click-based main() correctly
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update poetry lock
  ni_measurementlink_generator/poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Update mypy, install verbosity, naming, and remove hacks
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Invoke click-based main() correctly
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update poetry lock
  ni_measurementlink_generator/poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Loosen click version constraint
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Add pytest-cov
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry lock
  ni_measurementlink_generator/poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Split out examples and add grouping
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update TODO about next release
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Add `py.typed` marker and update mypy usage (#244)
  .github/workflows/PR.yml
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/pyproject.toml
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/pyproject.toml
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/pyproject.toml
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/nivisa_dmm_measurement/teststand_fixture.py
  examples/sample_measurement/measurement.py
  examples/sample_measurement/pyproject.toml
  ni_measurementlink_generator/ni_measurementlink_generator/py.typed
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/poetry.lock
  ni_measurementlink_generator/pyproject.toml
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  ni_measurementlink_service/py.typed
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Create nidigital_spi example
  examples/nidigital_spi/NIDigitalSPI.instudioproj
  examples/nidigital_spi/NIDigitalSPI.measproj
  examples/nidigital_spi/NIDigitalSPI.measui
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.sfp
  examples/nidigital_spi/Pattern.digipat
  examples/nidigital_spi/PinLevels.digilevels
  examples/nidigital_spi/PinMap.pinmap
  examples/nidigital_spi/README.md
  examples/nidigital_spi/SPI Example.digiproj
  examples/nidigital_spi/Shmoo.digishmoo
  examples/nidigital_spi/Specifications.specs
  examples/nidigital_spi/Timing.digitiming
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/poetry.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidigital_spi/start.bat
  examples/nidigital_spi/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Added v2 measurement_service.proto
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Ran "poetry run python scripts/generate_grpc_stubs.py". This seems to touch a lot of V1 files.
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/session_pb2.py
  tests/assets/sample_measurement_test_pb2.py
  tests/assets/test_pb2.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Pulling in changes to measurement_service.proto from https://ni.visualstudio.com/DevCentral/_git/ASW/pullrequest/475543
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Regenerated via generate_grpc_stubs.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add measurement_service.proto v2 (#246)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
  ni_measurementlink_service/_internal/stubs/session_pb2.py
  tests/assets/sample_measurement_test_pb2.py
  tests/assets/test_pb2.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generate_grpc_stubs: Don't reformat codegen with Black
  scripts/generate_grpc_stubs.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Regenerate gRPC stubs
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/session_pb2.py
  ni_measurementlink_service/_internal/stubs/session_pb2.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.py
  tests/assets/sample_measurement_test_pb2.py
  tests/assets/sample_measurement_test_pb2.pyi
  tests/assets/sample_measurement_test_pb2_grpc.py
  tests/assets/test_pb2.py
  tests/assets/test_pb2.pyi
  tests/assets/test_pb2_grpc.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generate_grpc_stubs: Don't reformat gRPC codegen with Black (#247)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/session_pb2.py
  ni_measurementlink_service/_internal/stubs/session_pb2.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.py
  scripts/generate_grpc_stubs.py
  tests/assets/sample_measurement_test_pb2.py
  tests/assets/sample_measurement_test_pb2.pyi
  tests/assets/sample_measurement_test_pb2_grpc.py
  tests/assets/test_pb2.py
  tests/assets/test_pb2.pyi
  tests/assets/test_pb2_grpc.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Propogated comment changes from https://ni.visualstudio.com/DevCentral/_git/ASW/pullrequest/475543
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Propagated comment changes for measurement_service.proto (#248)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated the TestStand sequence of NI DCPower measurement to simplify the pin map and session registration steps
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
