Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Fixing example render to match expected result from test.
  ni_measurementlink_generator/tests/test_assets/example_renders/example.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding back extra newline to template.
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updating MeasurementService __init__ to parse .serviceconfig. (#219)
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/example.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/example.serviceconfig
  tests/integration/test_service_manager.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Change timeouts to 60000 in measurements and 0 in TestStand fixtures
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use 60 for timeout instead of 60000. Lint the code.
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update to ni-python-styleguide 0.4.0 and re-run
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_measurement_service.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add comments for timeouts
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert files related to switch to ni-python-styleguide 0.4
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_measurement_service.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Change timeouts to 60000 in measurements and 0 in TestStand fixtures (#222)
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix D417 errors
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  tests/unit/test_metadata.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Lint the code
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  tests/acceptance/test_measurement_service.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Upgrade to ni-python-styleguide 0.4.0
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update to ni-python-styleguide 0.4.0 (#223)
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_measurement_service.py
  tests/unit/test_metadata.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update pinmaps in nidcpower source voltage examples to have one pin and one channel
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.pinmap
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageMultiSite.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Revert changes in multisite pinmap to have multiple channels/pins
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageMultiSite.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add note in Readme.md
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update pinmaps in nidcpower_source_dc_voltage example to have one pin/channel (#224)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.pinmap
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Setting Development Status to Production/Stable prior to our upcoming 1.0 release
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Saving example seq files in TestStand 2021 SP1 with final build of MeasurementLink.
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Resave .seq files using MeasurementLink 23.0 f902.
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Saving example seq files in TestStand 2021 SP1 with final build of Me… (#226)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

README.md: Move example content into examples/README.md
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Add a note about install_examples.py
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Update "note" boxes
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Rewrite static registration section
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Paul's feedback
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Move example content into examples/README.md (#227)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Clean up formatting and fix minor errors
  CONTRIBUTING.md
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Clean up formatting and fix minor errors (#228)
  CONTRIBUTING.md
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Fix reference to MeasurementLink UI Editor
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Fix reference to MeasurementLink UI Editor (#229)
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Setting Development Status to Production/Stable (#225)
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Make examples specifically depend on 1.0.0 to avoid future breakages
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Use ^1.0.0 to get the latest 1.x version
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Make examples specifically depend on 1.0.0 to avoid future breakages (#230)
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Fix whitespace handling for serviceconfig file name
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_measurement_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator tests: Rename example renders to match expected outputs
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/start.bat
  ni_measurementlink_generator/tests/test_measurement_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Use correct version number
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  ni_measurementlink_generator/tests/test_measurement_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding autoapi/index to index.rst so api shows up in sidebar.
  _docs_source/conf.py
  _docs_source/index.rst
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Removing new line.
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati
