Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change import aliases to preserve namespace order
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Refactor test_measurement_service and add type annotations
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  ni_measurementlink_service/_internal/service_manager.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Extract a shared function in grpc_servicer
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update serializer type annotations, docstrings, and noqa comments
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add generator support to grpc_servicer
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add long_running_measurement
  examples/long_running_measurement/LongRunningMeasurement.measproj
  examples/long_running_measurement/LongRunningMeasurement.measui
  examples/long_running_measurement/LongRunningMeasurement.serviceconfig
  examples/long_running_measurement/measurement.py
  examples/long_running_measurement/poetry.toml
  examples/long_running_measurement/pyproject.toml
  examples/long_running_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added pin map and session management helper functions to the python measurement template
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/internal/_internal.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add new function to get pin map id stored in temporary variable
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Pass searchcontext with sequence file path
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update python adaptoer consistently
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Resolve PR comments
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Specifies the return type for COM object
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

File formatted using black
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update type annotations and docstrings
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Rename TestStandSupport methods
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix resolve_file_path
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Uncheck "Use adapter settings for Python interpreter"
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update PinMapClient naming/comments
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated the TestStand sequence of NI DCPower measurement to make it simpler (#249)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Upgrade ni-python-styleguide
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Remove noqa comments
  ni_measurementlink_service/__init__.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Rewrite noqas
  ni_measurementlink_service/__init__.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Delete docstrings from test cases
  ni_measurementlink_generator/tests/test_measurement_generator.py
  tests/acceptance/test_measurement_service.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix import order
  ni_measurementlink_service/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Updated the TestStand sequence of measurement to simplify the pin map and session registration steps for measurements similar to DC Power
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update ReadMe to mention that the sequence file is not efficient for batch process
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Fix lint errors
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add nidcpower_source_dc_voltage module
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Move UI files into module
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageUI.vi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update entry point and imports
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/__init__.py
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidcpower_source_dc_voltage/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update measproj
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measproj
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update TS sequence
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

example: Refactor TestStand code modules
  examples/nidcpower_source_dc_voltage/teststand_nidcpower.py
  examples/nidcpower_source_dc_voltage/teststand_pin_map.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_nidmm.py
  examples/nidmm_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add multiple_measurements example
  examples/multiple_measurements/MultipleMeasurements.pinmap
  examples/multiple_measurements/MultipleMeasurements.seq
  examples/multiple_measurements/README.md
  examples/multiple_measurements/_helpers.py
  examples/multiple_measurements/poetry.toml
  examples/multiple_measurements/pyproject.toml
  examples/multiple_measurements/teststand_nidcpower.py
  examples/multiple_measurements/teststand_nidmm.py
  examples/multiple_measurements/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Update TestStand sequences
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Delete duplicate expression steps, delete PinMapFileName, updated PinMapPath to relative file path
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update TestStand sequence for VISA DMM and related function
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
