Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

README.md: Add info about Win32 long paths
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Minor clarifications
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Add info about Win32 long paths (#183)
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Remove unnecessary attempt to import int type
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add ChanelMapping class
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add channel_mappings to SessionInformation and populate on input/output
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add missing documentation and fix lint errors
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert undesired changes to import formatting
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add channel mappings data to SessionInformation in session management client (#184)
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Path type specialization support
  ni_measurementlink_service/measurement/info.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Create dictionary properly in scope example using channel_mappings
  examples/niscope_acquire_waveform/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidcpower_source_dc_voltage: Add support for multiple pins/sites & output on the correct channels
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidcpower_source_dc_voltage: Update pinmap and add a multi-site version
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measproj
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageMultiSite.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage_with_labview_ui: Update UI for multiple measurements
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageUI.vi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage_with_labview_ui: Add multiple measurements
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidcpower_source_dc_voltage: Update TestStand sequences
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage_with_labview_ui: Update pinmaps and projects
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.sfp
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageMultiSite.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage: Update InstrumentStudio project/sfp
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.sfp
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage: Fix lint warnings
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidcpower_source_dc_voltage: Rename some loop variables
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Create dictionary properly in scope example using channel_mappings (#187)
  examples/niscope_acquire_waveform/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove saved configurations values from the measurement UIs in examples (#181)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.measui
  examples/nifgen_standard_function/NIFgenStandardFunction.measui
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update *measui, measproj template
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measproj.mako
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measui.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add path parameters to configuration test
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add separate path configuration tests
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Path type specialization support (#185)
  ni_measurementlink_service/measurement/info.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidcpower_source_dc_voltage: Remove ConfigurationParameters from measui and update sfp defaults
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.sfp
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower_source_dc_voltage: Resave with Pin1 selected
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidcpower examples: Source/measure the DC voltage on all selected pins (and no others) (#188)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measproj
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.measui
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.sfp
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageMultiSite.pinmap
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.instudioproj
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltage.sfp
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageMultiSite.pinmap
  examples/nidcpower_source_dc_voltage_with_labview_ui/NIDCPowerSourceDCVoltageUI.vi
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add VISA example
  examples/nivisa_dmm_measurement/LICENSE
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measproj
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.pinmap
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/poetry.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/nivisa_dmm_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update version
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measproj.mako
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measui.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update *measui, measproj template in python template generator (#189)
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measproj.mako
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.measui.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

_helpers: Add use_simulation, make fields default
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_measurement: Add simulation support
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_measurement: Minor cleanup
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_measurement: Add .instudioproj
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.instudioproj
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.sfp
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nivisa_dmm_measurement: More cleanup
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.pinmap
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_measurement: Add TestStand sequence
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_example: Add comment about --use-simulation
  examples/nivisa_dmm_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
