Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Game of Life example (#360)
  examples/game_of_life/GameOfLife.instudioproj
  examples/game_of_life/GameOfLife.sfp
  examples/game_of_life/README.md
  examples/game_of_life/_helpers.py
  examples/game_of_life/game_of_life.measproj
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/game_of_life.serviceconfig
  examples/game_of_life/measurement.py
  examples/game_of_life/poetry.toml
  examples/game_of_life/pyproject.toml
  examples/game_of_life/start.bat
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Split GrpcChannelPool into a separate submodule (#376)
  ni_measurementlink_service/_channelpool.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

example: Demonstrate how to write integration and unit tests for a measurement service
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/pyproject.toml
  examples/nidmm_measurement/tests/__init__.py
  examples/nidmm_measurement/tests/assets/__init__.py
  examples/nidmm_measurement/tests/assets/nidmm_measurement_parameters.proto
  examples/nidmm_measurement/tests/assets/nidmm_measurement_parameters_pb2.py
  examples/nidmm_measurement/tests/assets/nidmm_measurement_parameters_pb2.pyi
  examples/nidmm_measurement/tests/assets/nidmm_measurement_parameters_pb2_grpc.py
  examples/nidmm_measurement/tests/assets/nidmm_measurement_parameters_pb2_grpc.pyi
  examples/nidmm_measurement/tests/integration/__init__.py
  examples/nidmm_measurement/tests/integration/conftest.py
  examples/nidmm_measurement/tests/integration/test_measurement.py
  examples/nidmm_measurement/tests/unit/__init__.py
  examples/nidmm_measurement/tests/unit/conftest.py
  examples/nidmm_measurement/tests/unit/test_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Use Any.Pack()
  examples/nidmm_measurement/tests/integration/test_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix discovery_client.py docs
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Things we lost in the merge
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update README.md
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Revise DiscoveryClient API (#375)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
  tests/utilities/fake_rpc_error.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

README.md: Update links to examples (#381)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Update links to examples (#381)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

[releases/1.2] README.md: Update links to examples (#382)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Update DiscoveryClient to use GrpcChannelPool
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update SessionManagementClient to use DiscoveryClient and GrpcChannelPool
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Pass gRPC channel pool to DiscoveryService
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add DETACHED_PROCESS flag to detach the discovery process from its parent console process
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix test failure
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

workflows: Check documentation
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

workflows: Install --with docs
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

workflows: Check sphinx-built exit code
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix the discovery service to not terminate on parent process closure (#383)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

workflows: Tell Sphinx to convert warnings to errors
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fix docstring formatting
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

pyproject.toml: Upgrade doc dependencies
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

docs: Suppress cross-reference warnings (due to aliases)
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Split up NamedTuple docstrings
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix Sphinx "unexpected indent" errors
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix argument indentation and some cross-references
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix lint warnings
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add max_generations so the game of life will stop and is more useful in TestStand
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove prompt comment
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Change the label of the Max Generations input
  examples/game_of_life/game_of_life.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add INFINITE_GENERATIONS constant
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change MeasurementService to defer initialization as much as possible
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run linter
  examples/game_of_life/_helpers.py
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix lint warnings
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run linter from a different place
  examples/game_of_life/_helpers.py
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Use double-checked locking in client classes
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix mypy errors
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
