Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Fix DAQmx example
  examples/nidaqmx_analog_input/teststand_nidaqmx.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix examples
  examples/nidcpower_source_dc_voltage/teststand_nidcpower.py
  examples/nidigital_spi/teststand_nidigital.py
  examples/nidmm_measurement/teststand_nidmm.py
  examples/nifgen_standard_function/teststand_nifgen.py
  examples/niscope_acquire_waveform/teststand_niscope.py
  examples/niswitch_control_relays/teststand_niswitch.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/_visa_dmm.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Re-run ni-python-styleguide on examples (#600)
  examples/game_of_life/measurement.py
  examples/nidaqmx_analog_input/teststand_nidaqmx.py
  examples/nidcpower_source_dc_voltage/teststand_nidcpower.py
  examples/nidigital_spi/teststand_nidigital.py
  examples/nidmm_measurement/teststand_nidmm.py
  examples/nifgen_standard_function/teststand_nifgen.py
  examples/niscope_acquire_waveform/teststand_niscope.py
  examples/niswitch_control_relays/teststand_niswitch.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/_visa_dmm.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Force add an annotation programming language Python
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/discovery/v1/discovery_service.proto
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/measurement/info.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run black
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Avoid change
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix Comments
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/discovery/v1/discovery_service.proto
  ni_measurementlink_service/_internal/utilities/_constants.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove Space
  ni_measurementlink_service/discovery/_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix Comments
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

style: ran lint on nims
  ni_measurementlink_service/__init__.py
  ni_measurementlink_service/_configuration.py
  ni_measurementlink_service/_drivers/__init__.py
  ni_measurementlink_service/_drivers/_grpcdevice.py
  ni_measurementlink_service/_featuretoggles.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/discovery/_support.py
  ni_measurementlink_service/discovery/_types.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

style: ran lint on _docs_source
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

style: ran lint on tests
  tests/acceptance/conftest.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/conftest.py
  tests/integration/session_management/conftest.py
  tests/integration/test_service_manager.py
  tests/unit/_drivers/_driver_utils.py
  tests/unit/_reservation_utils.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
  tests/utilities/connection_subset.py
  tests/utilities/fake_discovery_service.py
  tests/utilities/fake_driver.py
  tests/utilities/measurements/loopback_measurement/__init__.py
  tests/utilities/measurements/nidaqmx_measurement/__init__.py
  tests/utilities/measurements/nidcpower_measurement/__init__.py
  tests/utilities/measurements/nidigital_measurement/__init__.py
  tests/utilities/measurements/nidmm_measurement/__init__.py
  tests/utilities/measurements/nifgen_measurement/__init__.py
  tests/utilities/measurements/niscope_measurement/__init__.py
  tests/utilities/measurements/niswitch_measurement/__init__.py
  tests/utilities/measurements/pin_aware_measurement/__init__.py
  tests/utilities/measurements/streaming_data_measurement/__init__.py
  tests/utilities/measurements/unknown_interface_measurement/__init__.py
  tests/utilities/measurements/v1_only_measurement/__init__.py
  tests/utilities/measurements/v2_only_measurement/__init__.py
  tests/utilities/measurements/yield_vs_return_measurement/__init__.py
  tests/utilities/pin_map_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

style: ran black on specific failing files
  ni_measurementlink_service/_configuration.py
  ni_measurementlink_service/session_management/_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Delete _internal/utilities submodule
  ni_measurementlink_service/_internal/utilities/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Move constants to different location
  ni_measurementlink_service/_annotations.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/_internal/utilities/_constants.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comment
  ni_measurementlink_service/_annotations.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Delete _internal/utilities submodule (#604)
  ni_measurementlink_service/_internal/utilities/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update ni_measurementlink_service/_annotations.py
  ni_measurementlink_service/_annotations.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add python as a default annotation under programming language. (#599)
  ni_measurementlink_service/_annotations.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add typed mux session info and typed connection with mux
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add get connection(s) with multiplexer API
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

example: update nidcpower to showcase the api
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: temporarily checkin pyproject changes
  examples/nidcpower_source_dc_voltage/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

refactor: make mux resource name and route as required prop
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

feat: add dcpower connection(s) with mux API.
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

feat: add generic and nidaq connection(s) with mux API
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add unit and integration tests for the get connection(s) with multiplexer APIs
  ni_measurementlink_service/session_management/__init__.py
  tests/assets/integration/session_management/PinMapD_3Instruments_4DutPins_2Sites_2Multiplexers.pinmap
  tests/integration/session_management/test_reservation.py
  tests/unit/_reservation_utils.py
  tests/unit/test_reservation.py
  tests/utilities/connection_subset.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add nidigital specific get conn with mux APIs
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add nidmm specific get conn with mux APIs
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add nifgen specific get conn with mux APIs
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: add niscope specific get conn with mux APIs
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

style: improve formatting
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: wrap todo text
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

lint: add doc string to public api
  tests/utilities/connection_subset.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: revert example updates
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

doc: have consistency in documentation
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: mark integration tests as expected to fail
  tests/integration/session_management/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: lint errors
  ni_measurementlink_service/session_management/_reservation.py
  tests/integration/session_management/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: improve test names
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
