Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

GitHub workflows: Add gzip to the path
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Cache Tox virtualenvs
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Stop testing on macOS
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Revert PATH hack
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflow: Cache example virtualenvs
  .github/workflows/check_examples.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Try using setup-python's Poetry caching
  .github/workflows/Publish_NIMS.yml
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Change cache key to use "py3.9" instead of just "3.9"
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Move all/no-extras next to package name in cache key
  .github/workflows/check_nims.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

GitHub workflows: Don't skip poetry install on cache hit
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_system_tests.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tox.ini: Remove ProgramW6432 and ProgramData from passenv
  tox.ini
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Work around lack of PurePath.is_relative_to() in Python 3.8
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Make _get_nims_path return package dir, not __init__.py path
  ni_measurementlink_service/_dotenvpath.py
  tests/unit/test_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix _get_caller_path() with Python >= 3.11
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Make pytest path check less specific
  tests/unit/test_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add nidcpower specific test measurement
  tests/utilities/nidcpower_measurement/NIDCPowerMeasurement.serviceconfig
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add proto file and stubs
  tests/assets/nidcpower_measurement.proto
  tests/assets/nidcpower_measurement_pb2.py
  tests/assets/nidcpower_measurement_pb2.pyi
  tests/assets/nidcpower_measurement_pb2_grpc.py
  tests/assets/nidcpower_measurement_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add sample nidcpower integration test
  tests/integration/test_nidcpower_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add sample nidcpower acceptance test
  tests/acceptance/test_nidcpower_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

refactor: remove parameterization
  tests/acceptance/test_nidcpower_session_management.py
  tests/integration/test_nidcpower_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

rename test files
  tests/acceptance/test_nidcpower_measurement.py
  tests/integration/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Include TS code module dir in `.env` search (#485)
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
  ni_measurementlink_service/_configuration.py
  ni_measurementlink_service/_dotenvpath.py
  tests/unit/test_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: simplify nidcpower integration test
  tests/assets/integration/session_management/1Smu1ChannelGroup1Pin1Site.pinmap
  tests/integration/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: lint errors
  tests/acceptance/test_nidcpower_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Get MeasurementLink install paths from registry instead of environment variables (#483)
  ni_measurementlink_service/discovery/_support.py
  tests/conftest.py
  tox.ini
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Speed up GitHub workflows (#486)
  .github/workflows/Publish_NIMS.yml
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_system_tests.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated ReadMe for DCPower
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Updated readme and replaced .env sample files
  examples/.env.sample
  examples/.env.simulation
  examples/README.md
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Test: Rename .env.simulation to .env in pipeline
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: Syntax change for powershell7
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: Syntax change for start up failure
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: Syntax change for bash
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: Syntax change with shell bash
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: Just perform rename
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Test: remove working-directory
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: add more acceptance tests
  tests/acceptance/test_nidcpower_measurement.py
  tests/assets/acceptance/session_management/1Smu2ChannelGroup2Pin1Site.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: add more integration tests
  tests/assets/integration/session_management/1Smu2ChannelGroup2Pin1Site.pinmap
  tests/integration/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated readme for all driver examples
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

tests: return connected channels from nidcpower measurment.
  tests/assets/nidcpower_measurement.proto
  tests/assets/nidcpower_measurement_pb2.py
  tests/assets/nidcpower_measurement_pb2.pyi
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: update acceptance tests to verify connected channels
  tests/acceptance/test_nidcpower_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: lint errors
  tests/acceptance/test_nidcpower_measurement.py
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
