Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Switched to dynamically generating the enum wrappers with a helper method.
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

propogated changes to _helpers.py to all examples.
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed linting issues.
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed mypy issue
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated return type to Type[Enum]
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removed translation of enum for logging.
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Reverting changes to _helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Reverting dynamic enum creation in examples
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing issues with example enums (#297)
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Revert session_info -> session_infos rename
  examples/nidaqmx_analog_input/teststand_fixture.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Revert session_info -> session_infos rename
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Revert session_info -> session_infos rename
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix lint errors and merge errors
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Remove test for deprecated session_info property
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

scripts: Make install_examples.py work with path="../.."
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

discovery_client: Fix function docstring and type hint
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

make helpers.py as mako template
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

remove unused imports
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update tests to check the file generation
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Wait for key file existence and time out when 30 seconds elapse
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

add _helpers.py to test assets
  ni_measurementlink_generator/tests/test_assets/example_renders/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measurement template to include helpers.py files (#293)
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Simplify single-session measurements (#287)
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/pyproject.toml
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Simplify reserve call
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update static registration instructions not to tell the user to copy the venv
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fixed an issue with enums where zero-value parameters are not passed over grpc and set to an incorrect value during "missing parameter" handling.
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Turn comment into docstring
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Turn more comments into docstrings
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niswitch_control_relays/_niswitch_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Single-source USE_SIMULATION for VISA example
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Simplify reserve call by extracting reservation timeout constant (#300)
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

scripts: Fix lint errors
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added a test case
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue with enums where zero-value parameters are not passed … (#302)
  ni_measurementlink_service/_internal/parameter/serializer.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

scripts: Make install_examples.py work with path="../.." (#299)
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update static registration instructions not to tell the user to copy venv (#301)
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Update version to 1.2.0-dev0
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Update version to 1.2.0-dev0
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

README.md: Add link to 1.1.0 examples (which do not exist yet)
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Add link to 1.1.0 examples (which do not exist yet)
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
