Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

examples: Update NI-DCPower readme to describe the .env simulation process (#491)
  examples/.env.sample
  examples/.env.simulation
  examples/README.md
  examples/nidcpower_source_dc_voltage/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Brad's feedback. Wording and word wrapping
  examples/nidaqmx_analog_input/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update README text about simulating without NI MAX
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Word-wrap READMEs using default Rewrap settings
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
  examples/sample_measurement/README.md
  examples/sample_streaming_measurement/README.md
  examples/ui_progress_updates/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update simulation info in VISA READMEs
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Fix "note" formatting in READMEs
  examples/nidcpower_source_dc_voltage/README.md
  examples/ui_progress_updates/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update NI-Digital, NI-DMM, NI-Fgen, NI-Switch, NI-Scope, NI-VISA and Output voltage readme to describe the .env simulation process (#494)
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
  examples/sample_measurement/README.md
  examples/sample_streaming_measurement/README.md
  examples/ui_progress_updates/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

fix: add actual measurement to nidcpower measurement
  tests/assets/nidcpower_measurement.proto
  tests/assets/nidcpower_measurement_pb2.py
  tests/assets/nidcpower_measurement_pb2.pyi
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: refactor nidcpower session apis integration tests
  tests/integration/_reservation_utils.py
  tests/integration/conftest.py
  tests/integration/session_management/__init__.py
  tests/integration/session_management/test_nidcpower_reservation.py
  tests/integration/test_nidcpower_reservation.py
  tests/integration/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: refactor nidcpower session apis acceptance tests
  tests/acceptance/conftest.py
  tests/acceptance/session_management/__init__.py
  tests/acceptance/session_management/test_nidcpower_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

chore: add a new line before return
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

refactor: move utils to utility folder
  tests/acceptance/test_session_management.py
  tests/integration/session_management/test_nidcpower_reservation.py
  tests/integration/test_reservation.py
  tests/utilities/connection_subset.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: lint errors
  tests/utilities/connection_subset.py
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: mypy error
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

fix: typo
  tests/utilities/connection_subset.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Change DMM range to 10.0 for output_voltage_measurement
  examples/output_voltage_measurement/OutputVoltageMeasurement.sfp
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Change DMM range to 10 V for output_voltage_measurement (#496)
  examples/output_voltage_measurement/OutputVoltageMeasurement.sfp
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use released 1.3.0.dev0 for examples
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Make examples depend on newly released 1.3.0.dev0 (#497)
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix: Pass in default values
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Enable .env
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix: Initialize session using default parameters
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Mypy error
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

chore: update acceptance & integration tests folder structure
  tests/acceptance/session_management/__init__.py
  tests/acceptance/test_nidcpower_measurement.py
  tests/integration/session_management/conftest.py
  tests/integration/session_management/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

chore: move nidcpower test meas stubs to sub dir
  tests/assets/stubs/__init__.py
  tests/assets/stubs/nidcpower_measurement/__init__.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement.proto
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.pyi
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2_grpc.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

refactor: update test names to present tense
  tests/acceptance/test_nidcpower_measurement.py
  tests/integration/session_management/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: PR comments
  pyproject.toml
  tests/acceptance/conftest.py
  tests/integration/session_management/conftest.py
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: typo and lint errors
  tests/acceptance/test_nidcpower_measurement.py
  tests/integration/session_management/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Take .env.simulation from examples folder
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

fix: update proto package name
  tests/acceptance/test_nidcpower_measurement.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement.proto
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Move .env to root directory and update pipeline changes
  .env.sample
  .env.simulation
  .github/workflows/run_system_tests.yml
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix: Copy .env.simulation instead of moving
  .github/workflows/run_system_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[PR1] Move .env.simulation to .env in run_system_tests workflow (#499)
  .github/workflows/run_system_tests.yml
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: proto and stub changes
  tests/acceptance/test_nidcpower_measurement.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.py
  tests/assets/stubs/nidcpower_measurement/nidcpower_measurement_pb2.pyi
  tests/assets/stubs/nidcpower_measurement/types.proto
  tests/assets/stubs/nidcpower_measurement/types_pb2.py
  tests/assets/stubs/nidcpower_measurement/types_pb2.pyi
  tests/assets/stubs/nidcpower_measurement/types_pb2_grpc.py
  tests/assets/stubs/nidcpower_measurement/types_pb2_grpc.pyi
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: update to pin_names for consistency
  tests/integration/session_management/test_nidcpower_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

refactor: acceptance tests
  tests/acceptance/test_nidcpower_measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add integration and acceptance tests for NI-DCPower driver specific session management APIs (#490)
  pyproject.toml
  tests/acceptance/conftest.py
  tests/acceptance/test_nidcpower_measurement.py
  tests/acceptance/test_session_management.py
  tests/assets/acceptance/session_management/1Smu2ChannelGroup2Pin1Site.pinmap
  tests/assets/integration/session_management/1Smu2ChannelGroup2Pin1Site.pinmap
  tests/assets/stubs/__init__.py
  tests/assets/stubs/nidcpower_measurement/__init__.py
  tests/assets/stubs/nidcpower_measurement/types.proto
  tests/assets/stubs/nidcpower_measurement/types_pb2.py
  tests/assets/stubs/nidcpower_measurement/types_pb2.pyi
  tests/assets/stubs/nidcpower_measurement/types_pb2_grpc.py
  tests/assets/stubs/nidcpower_measurement/types_pb2_grpc.pyi
  tests/integration/session_management/__init__.py
  tests/integration/session_management/conftest.py
  tests/integration/session_management/test_nidcpower_reservation.py
  tests/integration/session_management/test_reservation.py
  tests/utilities/connection_subset.py
  tests/utilities/nidcpower_measurement/NIDCPowerMeasurement.serviceconfig
  tests/utilities/nidcpower_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: set platform to add integration & acceptance tests for nidigital
  tests/acceptance/test_nidigital_measurement.py
  tests/assets/acceptance/session_management/2Digital2Group4Pin1Site.pinmap
  tests/assets/acceptance/session_management/Pattern.digipat
  tests/assets/acceptance/session_management/PinLevels.digilevels
  tests/assets/acceptance/session_management/Specifications.specs
  tests/assets/acceptance/session_management/Timing.digitiming
  tests/assets/stubs/nidigital_measurement/__init__.py
  tests/assets/stubs/nidigital_measurement/types.proto
  tests/assets/stubs/nidigital_measurement/types_pb2.py
  tests/assets/stubs/nidigital_measurement/types_pb2.pyi
  tests/assets/stubs/nidigital_measurement/types_pb2_grpc.py
  tests/assets/stubs/nidigital_measurement/types_pb2_grpc.pyi
  tests/integration/session_management/test_nidigital_reservation.py
  tests/utilities/nidigital_measurement/NIDigitalMeasurement.serviceconfig
  tests/utilities/nidigital_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: set platform to add integration & acceptance test for niswitch
  tests/acceptance/test_niswitch_measurement.py
  tests/assets/acceptance/session_management/2Switch2Relay1Site.pinmap
  tests/assets/stubs/niswitch_measurement/__init__.py
  tests/assets/stubs/niswitch_measurement/types.proto
  tests/assets/stubs/niswitch_measurement/types_pb2.py
  tests/assets/stubs/niswitch_measurement/types_pb2.pyi
  tests/assets/stubs/niswitch_measurement/types_pb2_grpc.py
  tests/assets/stubs/niswitch_measurement/types_pb2_grpc.pyi
  tests/integration/session_management/test_niswitch_reservation.py
  tests/utilities/niswitch_measurement/NISwitchMeasurement.serviceconfig
  tests/utilities/niswitch_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: add pins and sites for nidigital pin map
  tests/assets/acceptance/session_management/2Digital2Group4Pin1Site.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan
