Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

service: Fix missing error check identified by mypy
  ni_measurementlink_service/_drivers/_grpcdevice.py
  tests/unit/_drivers/test_grpcdevice.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Promote NIMS package version and update Sphinx generated files in _docs
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update nivisa_dmm_measurement to use gRPC
  examples/nivisa_dmm_measurement/_visa_dmm_session_management.py
  examples/nivisa_dmm_measurement/_visa_grpc.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update output_voltage_measurement to use VISA gRPC
  examples/output_voltage_measurement/_visa_dmm_session_management.py
  examples/output_voltage_measurement/_visa_grpc.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

renovate: Enable automerge of patch updates daily
  .github/renovate.json
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Update Tox minimum version to 4.0 to avoid downgrading to 3.x
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

renovate: Automerge patch updates (#527)
  .github/renovate.json
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Update Tox minimum version to 4.0 (#528)
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Rename GRPC_DEVICE_SERVER_ADDRESS and change it to a URL (#522)
  examples/.env.sample
  ni_measurementlink_service/_configuration.py
  ni_measurementlink_service/_drivers/_grpcdevice.py
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  tests/unit/_drivers/test_grpcdevice.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add gRPC support to VISA examples (#525)
  examples/nivisa_dmm_measurement/_visa_dmm_session_management.py
  examples/nivisa_dmm_measurement/_visa_grpc.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/_visa_dmm_session_management.py
  examples/output_voltage_measurement/_visa_grpc.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove examples and move example feature to Game of Life
  examples/README.md
  examples/game_of_life/README.md
  examples/game_of_life/_helpers.py
  examples/game_of_life/measurement.py
  examples/game_of_life/pyproject.toml
  examples/sample_streaming_measurement/README.md
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measproj
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measui
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/sample_streaming_measurement/_helpers.py
  examples/sample_streaming_measurement/measurement.py
  examples/sample_streaming_measurement/poetry.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/sample_streaming_measurement/start.bat
  examples/ui_progress_updates/README.md
  examples/ui_progress_updates/UIProgressUpdates.measproj
  examples/ui_progress_updates/UIProgressUpdates.measui
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
  examples/ui_progress_updates/_helpers.py
  examples/ui_progress_updates/measurement.py
  examples/ui_progress_updates/poetry.toml
  examples/ui_progress_updates/pyproject.toml
  examples/ui_progress_updates/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

remove ui progress updates from readme
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

re-comment out the dev install
  examples/game_of_life/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pr feedback
  examples/game_of_life/_helpers.py
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove examples and move example feature to Game of Life (#536)
  examples/README.md
  examples/game_of_life/README.md
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/measurement.py
  examples/sample_streaming_measurement/README.md
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measproj
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measui
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/sample_streaming_measurement/_helpers.py
  examples/sample_streaming_measurement/measurement.py
  examples/sample_streaming_measurement/poetry.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/sample_streaming_measurement/start.bat
  examples/ui_progress_updates/README.md
  examples/ui_progress_updates/UIProgressUpdates.measproj
  examples/ui_progress_updates/UIProgressUpdates.measui
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
  examples/ui_progress_updates/_helpers.py
  examples/ui_progress_updates/measurement.py
  examples/ui_progress_updates/poetry.toml
  examples/ui_progress_updates/pyproject.toml
  examples/ui_progress_updates/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Update nidcpower teststand sequence
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated daqmx, digital and dmm sequence files
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/teststand_pin_map.py
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/teststand_pin_map.py
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updated ni-fgen, ni-scope and ni-switch sequences
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_pin_map.py
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_pin_map.py
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

updated ni-visa and output voltage sequences
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_pin_map.py
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update list of examples in readme
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update list of examples in readme (#542)
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Create new subpackage for gRPC extensions
  ni_measurementlink_service/grpc/__init__.py
  ni_measurementlink_service/grpc/channelpool.py
  ni_measurementlink_service/grpc/loggers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update channelpool/loggers imports
  ni_measurementlink_service/_drivers/_grpcdevice.py
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/grpc/__init__.py
  ni_measurementlink_service/grpc/channelpool.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_session_management.py
  tests/utilities/pin_map_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update channelpool/loggers docs
  ni_measurementlink_service/grpc/channelpool.py
  ni_measurementlink_service/grpc/loggers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update NI-DCPower TestStand sequence with the Update pin map custom step (#538)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update NI-DAQmx, NI-Digital and NI-DMM TestStand sequences with the Update pin map custom step (#539)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/teststand_pin_map.py
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/teststand_pin_map.py
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update NI-Scope, NI-Switch and NI-Fgen TestStand sequences with the Update pin map custom step (#540)
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_pin_map.py
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_pin_map.py
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update NI-Visa DMM and Output Voltage TestStand sequences with the Update pin map custom step (#541)
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_pin_map.py
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

update measurement examples to latest step version
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Regenerate gRPC stubs
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
  tests/assets/sample_measurement_test_pb2_grpc.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.pyi
  tests/assets/test_pb2_grpc.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

github: Update check_nims.yml to regenerate gRPC stubs and check for modifications
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

github: Be more selective about which stubs to delete (not examples)
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

scripts: Update test stub path
  scripts/generate_grpc_stubs.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Retrofit stub imports
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_nidaqmx_measurement.py
  tests/acceptance/test_nidcpower_measurement.py
  tests/acceptance/test_nidigital_measurement.py
  tests/acceptance/test_nidmm_measurement.py
  tests/acceptance/test_nifgen_measurement.py
  tests/acceptance/test_niscope_measurement.py
  tests/acceptance/test_niswitch_measurement.py
  tests/acceptance/test_session_management.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Move test measurements to tests.utilities.measurements
  tests/utilities/measurements/loopback_measurement/LoopbackMeasurement.serviceconfig
  tests/utilities/measurements/loopback_measurement/__init__.py
  tests/utilities/measurements/nidaqmx_measurement/NIDAQmxMeasurement.serviceconfig
  tests/utilities/measurements/nidaqmx_measurement/__init__.py
  tests/utilities/measurements/nidcpower_measurement/NIDCPowerMeasurement.serviceconfig
  tests/utilities/measurements/nidcpower_measurement/__init__.py
  tests/utilities/measurements/nidigital_measurement/NIDigitalMeasurement.serviceconfig
  tests/utilities/measurements/nidigital_measurement/Pattern.digipat
  tests/utilities/measurements/nidigital_measurement/PinLevels.digilevels
  tests/utilities/measurements/nidigital_measurement/Specifications.specs
  tests/utilities/measurements/nidigital_measurement/Timing.digitiming
  tests/utilities/measurements/nidigital_measurement/__init__.py
  tests/utilities/measurements/nidmm_measurement/NIDmmMeasurement.serviceconfig
  tests/utilities/measurements/nidmm_measurement/__init__.py
  tests/utilities/measurements/nifgen_measurement/NIFgenMeasurement.serviceconfig
  tests/utilities/measurements/nifgen_measurement/__init__.py
  tests/utilities/measurements/niscope_measurement/NIScopeMeasurement.serviceconfig
  tests/utilities/measurements/niscope_measurement/__init__.py
  tests/utilities/measurements/niswitch_measurement/NISwitchMeasurement.serviceconfig
  tests/utilities/measurements/niswitch_measurement/__init__.py
  tests/utilities/measurements/pin_aware_measurement/PinAwareMeasurement.serviceconfig
  tests/utilities/measurements/pin_aware_measurement/__init__.py
  tests/utilities/measurements/streaming_data_measurement/StreamingDataMeasurement.serviceconfig
  tests/utilities/measurements/streaming_data_measurement/__init__.py
  tests/utilities/measurements/unknown_interface_measurement/__init__.py
  tests/utilities/measurements/unknown_interface_measurement/unknown_interface.serviceconfig
  tests/utilities/measurements/v1_only_measurement/__init__.py
  tests/utilities/measurements/v1_only_measurement/v1_only.serviceconfig
  tests/utilities/measurements/v2_only_measurement/__init__.py
  tests/utilities/measurements/v2_only_measurement/v2_only.serviceconfig
  tests/utilities/measurements/yield_vs_return_measurement/UIProgressUpdates.serviceconfig
  tests/utilities/measurements/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Retrofit measurement imports
  tests/acceptance/test_logging.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_nidaqmx_measurement.py
  tests/acceptance/test_nidcpower_measurement.py
  tests/acceptance/test_nidigital_measurement.py
  tests/acceptance/test_nidmm_measurement.py
  tests/acceptance/test_nifgen_measurement.py
  tests/acceptance/test_niscope_measurement.py
  tests/acceptance/test_niswitch_measurement.py
  tests/acceptance/test_security.py
  tests/acceptance/test_session_management.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add init for measurements dir
  tests/integration/test_service_manager.py
  tests/utilities/measurements/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add init for measurements dir
  tests/utilities/measurements/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

github: Update test stubs path
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan
