Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Running black.
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Add link to manual and make API reference link more prominent
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Adding autoapi/index to index.rst so api shows up in sidebar. (#234)
  _docs_source/conf.py
  _docs_source/index.rst
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Add link to manual and make API reference link more prominent (#236)
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

CONTRIBUTING.md: Add pre-commit hook instructions
  CONTRIBUTING.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

pre-commit: Remove commented out ni-python-styleguide
  .pre-commit-config.yaml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add pre-commit dev-dependency
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Run new pre-commit hooks
  .github/workflows/PR.yml
  .github/workflows/Publish_NIMS.yml
  .github/workflows/sync_github_issues_to_azdo.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  _docs_source/conf.py
  examples/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

CONTRIBUTING.md: Add note about pre-commit hooks
  CONTRIBUTING.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Add pre-commit config to run pyupgrade
  .pre-commit-config.yaml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Run pyupgrade
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ni_measurementlink_service: Fix style guide warnings
  ni_measurementlink_service/_internal/parameter/serialization_strategy.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add more pre-commit hooks
  .pre-commit-config.yaml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update dev-dependency versions
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

ni_measurement_service: Fix new mypy errors
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ni_measurementlink_service: Downgrade locked grpcio and update dev-dependencies (#238)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Use correct serviceconfig filename, display name, and version number (#233)
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/start.bat
  ni_measurementlink_generator/tests/test_measurement_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update documentation and install scripts so the venv is not copied into ProgramData but rather created there in place
  examples/README.md
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

bugfix:'gbk' codec can't decode byte
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

bugfix:'gbk' codec can't decode byte
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update version 1.0.1->1.0.2
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update static registration readme and script.
  examples/README.md
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix with ni-python-styleguide
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update static registration instructions
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update static registration readme and script (#241)
  examples/README.md
  scripts/install_examples.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Address PR comment
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

style fix
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

upgrade dependecies for generator
  ni_measurementlink_generator/poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Publish_NIMS: Install 'docs' dependency group
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Split doc tools into a 'docs' dependency group
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Specify input/output encoding and use bytes
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Improve error handling and typing
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Fix lint errors
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Configure Black to use the same line length as in the main project
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Work around flake8/Sphinx dependency version conflict (#242)
  .github/workflows/Publish_NIMS.yml
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

stubs: Add measurement v2 proto
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

stubs: Regenerate with updated protos
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/session_pb2.py
  tests/assets/sample_measurement_test_pb2.py
  tests/assets/test_pb2.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
