Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run styleGuide
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: update acceptance tests to use sample measurement modules
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/integration/test_service_manager.py
  tests/utilities/loopback_measurement/LoopbackMeasurement.serviceconfig
  tests/utilities/loopback_measurement/__init__.py
  tests/utilities/streaming_data_measurment/StreamingMeasurement.serviceconfig
  tests/utilities/streaming_data_measurment/__init__.py
  tests/utilities/yield_vs_return_measurement/UIProgressUpdates.serviceconfig
  tests/utilities/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix lint errors.
  tests/acceptance/test_measurement_service.py
  tests/integration/test_service_manager.py
  tests/utilities/__init__.py
  tests/utilities/loopback_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update sample measurement code to reuse configure logging and verbosity methods
  examples/sample_measurement/measurement.py
  examples/sample_streaming_measurement/measurement.py
  examples/ui_progress_updates/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Updated nidaqmx-python latest released version
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Update loopback measurement param list
  tests/acceptance/test_measurement_service.py
  tests/utilities/loopback_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: fix lint errors
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test: Run black
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use type to process the annotation
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Removed allow-prereleases flag
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Remove changes in poetry file
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update poetry
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix issues in poetry
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Depend on released dependencies
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Remove changes in poetry file
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add teststand support for ni+visa example measurement
  examples/nidcpower_nivisa_dmm_measurement/NIDCPowerNIVisaDmmMeasurement.seq
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_visa_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nidcpower.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nivisadmm.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_pin_map.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix double quotes on Annotations (#338)
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[Cherry Pick] 6f79e8f Update release versions in examples (#340)
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Update docstrings and maintian consistency in serviceconfig file properties
  tests/acceptance/test_streaming_data_measurement.py
  tests/utilities/loopback_measurement/LoopbackMeasurement.serviceconfig
  tests/utilities/loopback_measurement/__init__.py
  tests/utilities/streaming_data_measurement/StreamingDataMeasurement.serviceconfig
  tests/utilities/streaming_data_measurement/__init__.py
  tests/utilities/streaming_data_measurment/StreamingMeasurement.serviceconfig
  tests/utilities/yield_vs_return_measurement/UIProgressUpdates.serviceconfig
  tests/utilities/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add _helpers.py file to non-driver examples and update acceptance tests (#329)
  examples/sample_measurement/_helpers.py
  examples/sample_measurement/measurement.py
  examples/sample_streaming_measurement/_helpers.py
  examples/ui_progress_updates/_helpers.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/integration/test_service_manager.py
  tests/utilities/__init__.py
  tests/utilities/loopback_measurement/LoopbackMeasurement.serviceconfig
  tests/utilities/loopback_measurement/__init__.py
  tests/utilities/streaming_data_measurement/StreamingDataMeasurement.serviceconfig
  tests/utilities/streaming_data_measurement/__init__.py
  tests/utilities/yield_vs_return_measurement/UIProgressUpdates.serviceconfig
  tests/utilities/yield_vs_return_measurement/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nidcpower.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nivisadmm.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_pin_map.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix build failure
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nidcpower.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nivisadmm.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nidcpower.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nivisadmm.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nidcpower.py
  examples/nidcpower_nivisa_dmm_measurement/teststand_nivisadmm.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Rename to output_voltage_measurement
  examples/nidcpower_nivisa_dmm_measurement/NIDCPowerNIVisaDmmMeasurement.instudioproj
  examples/nidcpower_nivisa_dmm_measurement/NIDCPowerNIVisaDmmMeasurement.measproj
  examples/nidcpower_nivisa_dmm_measurement/NIDCPowerNIVisaDmmMeasurement.seq
  examples/nidcpower_nivisa_dmm_measurement/NIDCPowerNIVisaDmmMeasurement.sfp
  examples/output_voltage_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/output_voltage_measurement/OutputVoltageMeasurement.instudioproj
  examples/output_voltage_measurement/OutputVoltageMeasurement.measproj
  examples/output_voltage_measurement/OutputVoltageMeasurement.measui
  examples/output_voltage_measurement/OutputVoltageMeasurement.pinmap
  examples/output_voltage_measurement/OutputVoltageMeasurement.serviceconfig
  examples/output_voltage_measurement/OutputVoltageMeasurement.sfp
  examples/output_voltage_measurement/OutputVoltageMeasurementt.seq
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
  examples/output_voltage_measurement/_visa_helpers.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/poetry.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/output_voltage_measurement/start.bat
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisadmm.py
  examples/output_voltage_measurement/teststand_pin_map.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Resolve comments
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/teststand_nivisadmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add xydata.proto
  ni_measurementlink_service/_internal/stubs/proto/ni/protobuf/types/xydata.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Generate protobuf files for xydata.proto
  ni_measurementlink_service/_internal/stubs/ni/protobuf/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add xydata.proto and generate stubs (#342)
  ni_measurementlink_service/_internal/stubs/ni/protobuf/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/__init__.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.py
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/protobuf/types/xydata.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Hide discovery service logs.
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add a test to make sure when subprocess is not executed, exception is thrown
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Fix lint errors
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Update exception handling to parent function
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Update exception handling for register service function
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Repalce usage of ~ with bool
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: replace bool with not
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Update test assertion flag name
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
