Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

examples: Update _helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use ServiceOptions default parameters
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement_Report[5 14 14 PM][1 10 2023].xml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement_Report[5 14 42 PM][1 10 2023].xml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidmm_measurement, nivisa_dmm_measurement: Fix type annotations
  examples/nidmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidmm_measurement: Add out-of-range check
  examples/nidmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ni_measurement_service: Fix type annotations for __enter__() methods
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

PR workflow: Type-check examples more thoroughly
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Echo the example path
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

pyproject.toml: Add more trove classifiers for PyPI, plus license/repo for nimg
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

ni_measurement_service: Update __enter__() type annotations to support subclassing (#193)
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove the LICENSE files from the examples
  examples/nidaqmx_analog_input/LICENSE
  examples/nidcpower_source_dc_voltage/LICENSE
  examples/nidcpower_source_dc_voltage_with_labview_ui/LICENSE
  examples/nidmm_measurement/LICENSE
  examples/nifgen_standard_function/LICENSE
  examples/niscope_acquire_waveform/LICENSE
  examples/niswitch_control_relays/LICENSE
  examples/sample_measurement/LICENSE
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nivisa_dmm_measurement: Extract _visa_helpers.py and refactor/fix minor issues
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nivisa_dmm_measurement: Delete TestStand report files
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement_Report[5 14 14 PM][1 10 2023].xml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement_Report[5 14 42 PM][1 10 2023].xml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nivisa_dmm_measurement: Delete LICENSE
  examples/nivisa_dmm_measurement/LICENSE
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nivisa_dmm_measurement: Add grpcio and comment out prerelease ni-measurementlink-service
  examples/nivisa_dmm_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add grpcio dependency to all examples that explicitly import grpc
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add nivisa_dmm_measurement example (#191)
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/_helpers.py
  examples/nidcpower_source_dc_voltage_with_labview_ui/measurement.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.instudioproj
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measproj
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.pinmap
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.sfp
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/poetry.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/nivisa_dmm_measurement/start.bat
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

pyproject.toml: Add more trove classifiers for PyPI, plus license/repo for nimg (#195)
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

PR workflow: Type-check examples more thoroughly (#194)
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

nidmm_measurement: Log outputs for debugging purposes
  examples/nidmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nidmm_measurement: Add out-of-range check (#192)
  examples/nidmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove the LICENSE files from the examples (#199)
  examples/nidaqmx_analog_input/LICENSE
  examples/nidcpower_source_dc_voltage/LICENSE
  examples/nidcpower_source_dc_voltage_with_labview_ui/LICENSE
  examples/nidmm_measurement/LICENSE
  examples/nifgen_standard_function/LICENSE
  examples/niscope_acquire_waveform/LICENSE
  examples/niswitch_control_relays/LICENSE
  examples/sample_measurement/LICENSE
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add grpcio dependency to all examples that explicitly import grpc (#200)
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidcpower_source_dc_voltage_with_labview_ui/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Fix mypy errors
  tests/acceptance/test_measurement_service.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

PR workflow: Run mypy on examples and reformat step names
  .github/workflows/PR.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Update test_service.py to use a fixture and type annotations
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Use object in type annotations instead of Any
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Rerun Black
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix mypy errors and enable mypy in PR workflow (#201)
  .github/workflows/PR.yml
  tests/acceptance/test_measurement_service.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add workflow to sync GitHub issue and AzDO Bug
  .github/workflows/sync_github_issues_to_azdo.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add workflow to sync GitHub issue and AzDO Bug (#204)
  .github/workflows/sync_github_issues_to_azdo.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

AzDO sync workflow: fix label handling and enable comment syncing
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/workflows/sync_github_issues_to_azdo.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

AzDO sync workflow: fix label handling and enable comment syncing (#207)
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/workflows/sync_github_issues_to_azdo.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

discovery_client: Explicitly connect to IPv4 address to avoid a delay
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add README.md files
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

nivisa_dmm_measurement: Enable simulation by default
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

README.md: Add VISA example, change example list to bulleted
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Updating FGEN example to catch timeout and maximum time exceeded exceptions when calling wait_until_done.
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Updating error code names and merging if and elif statements.
  examples/nifgen_standard_function/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update description of session managment & gRPC device server usage
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage_with_labview_ui/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

sample_measurement: Fix readme title
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati
