Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

examples: Use new discovery subpackage
  examples/game_of_life/_helpers.py
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/_helpers.py
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/_helpers.py
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/_helpers.py
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Use new discovery subpackage
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Split discovery_client.py into separate sub-modules and deprecate old module
  ni_measurementlink_service/_drivers/_grpcdevice.py
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/discovery/__init__.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/discovery/_support.py
  ni_measurementlink_service/discovery/_types.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  tests/acceptance/test_logging.py
  tests/conftest.py
  tests/integration/test_service_manager.py
  tests/unit/_drivers/test_grpcdevice.py
  tests/unit/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_session_management.py
  tests/utilities/discovery_service_process.py
  tests/utilities/pin_map_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Deprecate more MeasurementService attributes that should not be public
  ni_measurementlink_service/measurement/service.py
  tests/integration/test_service_manager.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix doc build warning
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Fix lint errors
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Clean up .measui for game of life (#435)
  examples/game_of_life/game_of_life.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fix session type checks
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove runtime type check from create_session(s)
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Patch __new__ instead of patching the Session class
  tests/unit/_drivers/test_nidaqmx.py
  tests/unit/_drivers/test_nidcpower.py
  tests/unit/_drivers/test_nidigital.py
  tests/unit/_drivers/test_nidmm.py
  tests/unit/_drivers/test_nifgen.py
  tests/unit/_drivers/test_niscope.py
  tests/unit/_drivers/test_niswitch.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update docstrings for discovery and session_management sub-packages
  ni_measurementlink_service/discovery/__init__.py
  ni_measurementlink_service/session_management/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update another sub-module docstring
  ni_measurementlink_service/discovery/_support.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add connection types and site constants
  ni_measurementlink_service/session_management/__init__.py
  ni_measurementlink_service/session_management/_constants.py
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Eagerly convert gRPC session info
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix session type checks
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add generic get_connection(s) API
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove extra quotes around type names
  ni_measurementlink_service/session_management/_types.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add get_connection(s) unit tests
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update get_connection(s) to handle SITE_ALL_SITES and SITE_SYSTEM_PINS
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add tests for SITE_ALL_SITES and SITE_SYSTEM_PINS
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix lint warnings
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Change sort order to deemphasize instrument type
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Pass pin/site order to reservation
  ni_measurementlink_service/session_management/_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Test passing pin/site order to reservation
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Export Connection and TypedConnection
  ni_measurementlink_service/session_management/__init__.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix system pins check
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add an integration test for get_connections
  tests/assets/integration/session_management/MultisitePinMapA-3Instruments_3DutPins_2SystemPins_2Sites.pinmap
  tests/integration/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add relay driver tests and refactor
  tests/assets/integration/session_management/PinMapA_3Instruments_3DutPins_2SystemPins_2Sites.pinmap
  tests/assets/integration/session_management/PinMapB_3Instruments_3DutPins_2SystemPins_2Sites_SharedPins.pinmap
  tests/assets/integration/session_management/PinMapC_MultipleInstrumentsPinsRelaysAndSites.pinmap
  tests/integration/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Refactor unit/test_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Don't save reserved_instrument_type_ids
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Remove reserved_instrument_type_ids
  tests/unit/test_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: FIx system site handling
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Refactor cached properties
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Raise an error if the user specifies pins/sites/instruments and they don't match any connections
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Rename new integration test
  tests/integration/test_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

docs: Fix duplicate name warnings
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Refactored VISA examples to use custom driver
  examples/nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/_visa_dmm_sim.yaml
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

fixed lint errors
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed black formatting issues
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/_visa_dmm.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

fixed black issues in helper.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
