Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Fix Test
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurementWithAnnotations.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

CI: Add test result reporting
  .github/workflows/CI.yml
  .github/workflows/report_test_results.yml
  .github/workflows/run_tests.yml
  .gitignore
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Run ls for debugging
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Download test_results into a subdir
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Change debugging step
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Show fail/skip table
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Pytest creates the output dir automatically
  .github/workflows/run_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add test failures to test the workflow
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

CI: Try out other reporting action
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix comments
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Generate JSON using the `json` module
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Move new test assets to own folder.
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/with_annotations/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/with_annotations/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ni_measurementlink_service: Launch discovery service just-in-time before registering a measurement service. (#290)
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Realign DMM UI controls (#312)
  examples/nidmm_measurement/NIDmmMeasurement.measui
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

README.md: Add "using gRPC services"
  README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix comments_Incomplete_Failing Tests
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Seems like this file did not got updated
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix tests
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run black
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

README.md: Update nimg readme
  ni_measurementlink_generator/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix help
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update All serviceConfig Examples
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix merge
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Make description match descrpition in pyproject
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix comments
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix missing comma
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix style and running black.
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add service Annotation Support
  examples/sample_measurement/SampleMeasurement.serviceconfig
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix mypy errors.
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix mypy on Tests
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove "Provides a Measurement UI."
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add .
  examples/nidcpower_source_dc_voltage/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

README.md: Update intro based on content from MeasurementLink manual (#310)
  README.md
  ni_measurementlink_generator/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Update intro based on content from MeasurementLink manual (#310)
  README.md
  ni_measurementlink_generator/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

CI: Disable fail-fast for run_tests
  .github/workflows/run_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Try more settings and another report action
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Try one more popular reporter
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Check out repo for dorny reporter and fix test result path for EnricoMi reporter
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan
