Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service, generator: Update main branch version to 1.2.0-dev0 (#303)
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

README.md: Add link to 1.1.0 example zip (which doesn't exist yet) (#304)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Add link to 1.1.0 example zip (which doesn't exist yet) (#304)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

README.md: Add link to 1.1.0 example zip (which doesn't exist yet) (#305)
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Use PyPI for ni-measurementlink-service
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Remove comment about Poetry 1.2
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Upgrade nimi-python and specify extras=["grpc"]
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update providedInterfaces
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Update providedInterfaces
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

discovery_client: Replace polling2 module with time module
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Added service already running functionality
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue in the servicer where we were not adding annotations to output.
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue in the servicer where we were specifying v1 message types for v2 measurement services.
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixed an issue where sample files was using v1 interface and thus not getting annotations for output parameters.
  examples/sample_measurement/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated measui files for sample measurement to include enum out control.
  examples/sample_measurement/SampleAllParameters.measui
  examples/sample_measurement/SampleMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fixed an issue with test___measurement_service_v2___get_metadata___returns_metadata where it was checking if message types were v1 rather than v2.
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update dependencies and providedInterfaces (#306)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update dependencies and providedInterfaces (#306)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update dependencies and providedInterfaces (#306) (#308)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_measurement/pyproject.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurement.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[BUG2433073] Added `Enum out` to sample_measurement (#307)
  examples/sample_measurement/SampleAllParameters.measui
  examples/sample_measurement/SampleMeasurement.measui
  ni_measurementlink_service/_internal/grpc_servicer.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[BUG2433073] Added `Enum out` to sample_measurement (#307)
  examples/sample_measurement/SampleAllParameters.measui
  examples/sample_measurement/SampleMeasurement.measui
  ni_measurementlink_service/_internal/grpc_servicer.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[CherryPick] 88fe761 ([BUG2433073] Added Enum out to sample_measurement) to releases/1.1 (#309)
  examples/sample_measurement/SampleAllParameters.measui
  examples/sample_measurement/SampleMeasurement.measui
  ni_measurementlink_service/_internal/grpc_servicer.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/example.v6.serviceconfig
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

README.md: Update intro based on content from MeasurementLink manual
  README.md
  ni_measurementlink_generator/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix comments
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  pyproject.toml
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert "Fix style and running black."
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2.pyi
  tests/assets/sample_measurement_test_pb2.pyi
  tests/assets/sample_streaming_measurement_test_pb2.pyi
  tests/assets/test_pb2.pyi
  tests/assets/ui_progress_updates_test_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix comments
  ni_measurementlink_service/_internal/discovery_client.py
  pyproject.toml
  tests/assets/test_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Simplify regex
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Revert changes made by black
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Simplify Regex
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Revert more black change simplify code
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert Black
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

revert black changes
  tests/assets/sample_measurement_test_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Realign DMM UI controls
  examples/nidmm_measurement/NIDmmMeasurement.measui
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Shrink DMM measUI document
  examples/nidmm_measurement/NIDmmMeasurement.measui
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

discovery_client: Refactor open method with write permission.
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Change annotation from test to avoid confusion
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix naming of tests examples.
  tests/assets/example.AllAnnotations.serviceconfig
  tests/assets/example.CustomAnnotations.serviceconfig
  tests/assets/example.OnlyCollection.serviceconfig
  tests/assets/example.OnlyTags.serviceconfig
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add annotations to generator
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/SampleMeasurementWithAnnotations.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurementWithAnnotations.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
