Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

Test: Don't call discovery_service_process
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert: Reverted back test changes
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Test: Check if stub is None or not
  ni_measurementlink_service/_internal/discovery_client.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert: Verified stub is actually None
  ni_measurementlink_service/_internal/discovery_client.py
  tests/acceptance/test_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Test: Don't raise exception
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix PR comments
  examples/output_voltage_measurement/README.md
  examples/output_voltage_measurement/_constants.py
  examples/output_voltage_measurement/measurement.py
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix: Removed throw away varaible assignments
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert: Raise Exception for Discovery Service
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add gRPC client/server call logging
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add gRPC client/server call logging
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update README.md to reference _*_helpers.py for USE_SIMULATION instead of measurement.py
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Add logging to DiscoveryClient
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Enable/disable logging interceptors based on log level
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add logging to DiscoveryClient
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Enable/disable logging interceptors based on log level
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Prototype ETW logging with Microsoft's traceloggingdynamic package
  ni_measurementlink_service/_loggers.py
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

use is_set() to check flag.
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Refactor trace logging
  ni_measurementlink_service/_loggers.py
  ni_measurementlink_service/_tracelogging.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Trace logging activity id experiment in progress
  ni_measurementlink_service/_tracelogging.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Centralize USE_SIMULATION in a _constants.py file and update documentation
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/README.md
  examples/nidigital_spi/_constants.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/_constants.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/README.md
  examples/nifgen_standard_function/_constants.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/README.md
  examples/niscope_acquire_waveform/_constants.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/README.md
  examples/niswitch_control_relays/_constants.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_constants.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix lint errors
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/_constants.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/_constants.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/_constants.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/_constants.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/_constants.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/_constants.py
  examples/nivisa_dmm_measurement/_visa_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Skipped tests for non-windows & no measurement registration file
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Correct the if condition
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Use Pathlib instead of os
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Refractor: Updated path exists call
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Removed unused fixture calls
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Changed discovery_service_subprocess to local varaible in _start_service method
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Killing the Discovery Service started by the Test Environment (#346)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
  tests/conftest.py
  tests/utilities/discovery_service_process.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measurement_service.proto to the latest
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/measurement/v2/measurement_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Regenerate stubs with the script
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Dont start measurement on unsuccessful register with discovery service
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Added tests to cover the exception cases
  tests/integration/test_service_manager.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Feat: Added expect_discovery_service_stub_error marker in pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix: Merge errors
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_streaming_data_measurement.py
  tests/acceptance/test_yield_vs_return.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Merge errors
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Test: Fix Mypy error: return nothing instead of None
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Test: Mypy error: Don't specify return type
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Updated test case name
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix: Update test case name
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
