Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

[releases/1.1] README.md: Update intro based on content from MeasurementLink manual (#316)
  README.md
  ni_measurementlink_generator/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

ni_measurementlink_service: Launch discovery service just-in-time before registering a measurement service. (#290)
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add Service Annotation Support (#291)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/discovery/v1/discovery_service.proto
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  pyproject.toml
  tests/assets/example.AllAnnotations.serviceconfig
  tests/assets/example.CustomAnnotations.serviceconfig
  tests/assets/example.OnlyCollection.serviceconfig
  tests/assets/example.OnlyTags.serviceconfig
  tests/assets/test_pb2.pyi
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Resolve conflicts, merge main.
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Run black
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Avoid duplicating files
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix comments, Change ../ for \
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Revert change to avoid duplicated files, no need to make it more complex.
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

CI: Let's use EnricoMi's test result action
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Revert "Add test failures to test the workflow"
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

CI: Try report_suite_logs
  .github/workflows/report_test_results.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Generate JSON using the `json` module (#314)
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

CI: Report test results (#313)
  .github/workflows/CI.yml
  .github/workflows/report_test_results.yml
  .github/workflows/run_tests.yml
  .gitignore
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add annotations to generator (#294)
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/measurement.serviceconfig.mako
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/start.bat
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/SampleMeasurement.serviceconfig
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/measurement.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/start.bat
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix merge
  ni_measurementlink_generator/ni_measurementlink_generator/template.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Do not merge: try skipping a test to see if the test delta is right
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use the right skip
  tests/integration/test_service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update Measurement Service Examples to include service Annotations (#296)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.serviceconfig
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.serviceconfig
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidmm_measurement/NIDmmMeasurement.serviceconfig
  examples/nifgen_standard_function/NIFgenStandardFunction.serviceconfig
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.serviceconfig
  examples/niswitch_control_relays/NISwitchControlRelays.serviceconfig
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.serviceconfig
  examples/sample_measurement/SampleMeasurement.serviceconfig
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/ui_progress_updates/UIProgressUpdates.serviceconfig
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[releases/1.1] ni_measurementlink_service: Launch discovery service just-in-time before registering a measurement service (#317)
  ni_measurementlink_service/_internal/discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use nidaqmx-python prerelease on PyPI
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Use nidaqmx-python prerelease on PyPI (#320)
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Update expected exception message
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Added unit test for methods used to launch discovery service just-in-time
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Update test with tmp_path fixture
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Prototype measurement that involves NI-DCPower to supply an input pin and measuring the output pin using the NI-VISA DMM instrument.
  examples/nidcpower_nivisa_dmm_measurement/NIInstrumentSimulatorV2_0.yaml
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_visa_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.instudioproj
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.measproj
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.measui
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.pinmap
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.serviceconfig
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.sfp
  examples/nidcpower_nivisa_dmm_measurement/poetry.toml
  examples/nidcpower_nivisa_dmm_measurement/pyproject.toml
  examples/nidcpower_nivisa_dmm_measurement/start.bat
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measure function using nested "with" blocks for sessions
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.instudioproj
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.measui
  examples/nidcpower_nivisa_dmm_measurement/nidcpower_nivisa_dmm_measurement.pinmap
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Update test to check for call args
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Remove json.dumps as it causes mypy error
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Formatting
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update measure function with single with block for creating source and measure sessions
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove comment
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Move wait_for_source_complete_event() to measurement.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Patch service_already_running functionality
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

test_discovery_client: Formatting mock file content
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Move USE_SIMULATION bool to _helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_visa_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix build failure
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add readme and fix lint errors
  examples/nidcpower_nivisa_dmm_measurement/README.md
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix build failure
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add new line
  examples/nidcpower_nivisa_dmm_measurement/_helpers.py
  examples/nidcpower_nivisa_dmm_measurement/_nidcpower_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
