Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update example sequences to have latest measurement step (#547)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: remove PinMapClient from helpers
  examples/game_of_life/_helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: update doc for get_active_pin_map_id API
  examples/game_of_life/_helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

template: update _helpers.py in nimg
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nivisa_dmm_measurement _helpers.py to match the others
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add test cases for big messages (100 fields)
  tests/assets/bigmessage.proto
  tests/assets/bigmessage_pb2.py
  tests/assets/bigmessage_pb2.pyi
  tests/assets/bigmessage_pb2_grpc.py
  tests/assets/bigmessage_pb2_grpc.pyi
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix tag deserialization for large messages
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add test cases for big messages (100 fields)
  tests/assets/bigmessage.proto
  tests/assets/bigmessage_pb2.py
  tests/assets/bigmessage_pb2.pyi
  tests/assets/bigmessage_pb2_grpc.py
  tests/assets/bigmessage_pb2_grpc.pyi
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix tag deserialization for large messages
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Use pytest.approx instead of choosing exactly comparable floats
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: update _helpers.py.mako template in NIMG (#551)
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: remove PinMapClient class from _helpers.py (#550)
  examples/game_of_life/_helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove "@" from the "Update Pin Map" in the example TS sequences
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Fix tag deserialization for large messages (#552)
  ni_measurementlink_service/_internal/parameter/serializer.py
  tests/assets/bigmessage.proto
  tests/assets/bigmessage_pb2.py
  tests/assets/bigmessage_pb2.pyi
  tests/assets/bigmessage_pb2_grpc.py
  tests/assets/bigmessage_pb2_grpc.pyi
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix tag deserialization for large messages (#552)
  ni_measurementlink_service/_internal/parameter/serializer.py
  tests/assets/bigmessage.proto
  tests/assets/bigmessage_pb2.py
  tests/assets/bigmessage_pb2.pyi
  tests/assets/bigmessage_pb2_grpc.py
  tests/assets/bigmessage_pb2_grpc.pyi
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Make gRPC extensions public (#545)
  ni_measurementlink_service/_drivers/_grpcdevice.py
  ni_measurementlink_service/_drivers/_nidaqmx.py
  ni_measurementlink_service/_drivers/_nidcpower.py
  ni_measurementlink_service/_drivers/_nidigital.py
  ni_measurementlink_service/_drivers/_nidmm.py
  ni_measurementlink_service/_drivers/_nifgen.py
  ni_measurementlink_service/_drivers/_niscope.py
  ni_measurementlink_service/_drivers/_niswitch.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/discovery/_client.py
  ni_measurementlink_service/grpc/__init__.py
  ni_measurementlink_service/grpc/channelpool.py
  ni_measurementlink_service/grpc/loggers.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  tests/unit/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_session_management.py
  tests/utilities/pin_map_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Remove "@" character prefix in the Update Pin Map step in all the example TestStand sequences (#553)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/output_voltage_measurement/OutputVoltageMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Regenerate gRPC stubs and update check_nims.yml to check for out-of-date gRPC stubs (#546)
  .github/workflows/check_nims.yml
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/discovery/v1/discovery_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v1/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/measurement/v2/measurement_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pin_map_context_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/ni/protobuf/types/xydata_pb2_grpc.pyi
  ni_measurementlink_service/_internal/stubs/session_pb2_grpc.pyi
  tests/assets/sample_measurement_test_pb2_grpc.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.pyi
  tests/assets/test_pb2_grpc.pyi
  tests/assets/ui_progress_updates_test_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

[releases/1.2] service: Fix tag deserialization for large messages (#554)
  ni_measurementlink_service/_internal/parameter/serializer.py
  tests/assets/bigmessage.proto
  tests/assets/bigmessage_pb2.py
  tests/assets/bigmessage_pb2.pyi
  tests/assets/bigmessage_pb2_grpc.py
  tests/assets/bigmessage_pb2_grpc.pyi
  tests/unit/test_serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Move bigmessage.proto to tests.utilities.stubs.serialization
  tests/assets/bigmessage_pb2.py
  tests/unit/test_serializer.py
  tests/utilities/stubs/serialization/bigmessage.proto
  tests/utilities/stubs/serialization/bigmessage_pb2.py
  tests/utilities/stubs/serialization/bigmessage_pb2.pyi
  tests/utilities/stubs/serialization/bigmessage_pb2_grpc.py
  tests/utilities/stubs/serialization/bigmessage_pb2_grpc.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix bigmessage package name
  tests/utilities/stubs/serialization/bigmessage.proto
  tests/utilities/stubs/serialization/bigmessage_pb2.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Promote NIMS package version and update Sphinx generated files in _docs
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Update minimum nims version to 1.3.0-dev2 for examples that use GrpcChannelPool directly
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Remove GrpcChannelPoolHelper from _helpers.py
  examples/game_of_life/_helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/output_voltage_measurement/_helpers.py
  examples/sample_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Remove GrpcChannelPoolHelper from _helpers.py(.mako)
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Remove usage of GrpcChannelPoolHelper
  examples/nidaqmx_analog_input/teststand_nidaqmx.py
  examples/nidcpower_source_dc_voltage/teststand_nidcpower.py
  examples/nidigital_spi/teststand_nidigital.py
  examples/nidmm_measurement/teststand_nidmm.py
  examples/nifgen_standard_function/teststand_nifgen.py
  examples/niscope_acquire_waveform/teststand_niscope.py
  examples/niswitch_control_relays/teststand_niswitch.py
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Clarify software requirements
  examples/game_of_life/README.md
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update VISA readmes for gRPC support
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

github: Use full Python version in cache key
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

github: Update cache key for run_unit_tests.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

cleanup: remove unused file in nidaqmx, nidcpower and nidigital examples
  examples/nidaqmx_analog_input/_nidaqmx_helpers.py
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidigital_spi/_constants.py
  examples/nidigital_spi/_nidigital_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

cleanup: remove unused files in nidmm, nifgen and niscope examples
  examples/nidmm_measurement/_constants.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nifgen_standard_function/_constants.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/niscope_acquire_waveform/_constants.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

cleanup: remove unused files in niswitch, nivisa_dmm and output_voltage examples
  examples/niswitch_control_relays/_constants.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/nivisa_dmm_measurement/_constants.py
  examples/output_voltage_measurement/_constants.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

github: Use full Python version in cache key (#561)
  .github/workflows/check_examples.yml
  .github/workflows/check_nimg.yml
  .github/workflows/check_nims.yml
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: remove unused .py files (#562)
  examples/nidaqmx_analog_input/_nidaqmx_helpers.py
  examples/nidcpower_source_dc_voltage/_constants.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidigital_spi/_constants.py
  examples/nidigital_spi/_nidigital_helpers.py
  examples/nidmm_measurement/_constants.py
  examples/nidmm_measurement/_nidmm_helpers.py
  examples/nifgen_standard_function/_constants.py
  examples/nifgen_standard_function/_nifgen_helpers.py
  examples/niscope_acquire_waveform/_constants.py
  examples/niscope_acquire_waveform/_niscope_helpers.py
  examples/niswitch_control_relays/_constants.py
  examples/niswitch_control_relays/_niswitch_helpers.py
  examples/nivisa_dmm_measurement/_constants.py
  examples/output_voltage_measurement/_constants.py
  examples/output_voltage_measurement/_nidcpower_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update readmes for VISA gRPC support and to clarify required software versions (#559)
  examples/game_of_life/README.md
  examples/nidaqmx_analog_input/README.md
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidigital_spi/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
  examples/output_voltage_measurement/README.md
  examples/sample_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples, generator: Remove GrpcChannelPoolHelper (#558)
  examples/game_of_life/_helpers.py
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidaqmx_analog_input/teststand_nidaqmx.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidcpower_source_dc_voltage/teststand_nidcpower.py
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/pyproject.toml
  examples/nidigital_spi/teststand_nidigital.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/pyproject.toml
  examples/nidmm_measurement/teststand_nidmm.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/pyproject.toml
  examples/nifgen_standard_function/teststand_nifgen.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niscope_acquire_waveform/teststand_niscope.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/pyproject.toml
  examples/niswitch_control_relays/teststand_niswitch.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/nivisa_dmm_measurement/teststand_nivisa_dmm.py
  examples/output_voltage_measurement/_helpers.py
  examples/output_voltage_measurement/pyproject.toml
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
  examples/sample_measurement/_helpers.py
  ni_measurementlink_generator/ni_measurementlink_generator/templates/_helpers.py.mako
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement/_helpers.py
  ni_measurementlink_generator/tests/test_assets/example_renders/measurement_with_annotations/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

github: Test every version of Python 3.8.x
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

github: Test with an older Ubuntu image to enable older Python
  .github/workflows/run_unit_tests.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

fix: use os.path to avoid os errors for invalid file paths
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
