Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati

tests: Update test fixtures to take advantage of service changes
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Update SessionManagementClient class name
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Update unit tests for new constructors
  tests/unit/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Lazily create more objects
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use INFINITE_GENERATIONS constant for default
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Fix some cross-references
  _docs_source/conf.py
  ni_measurementlink_service/_datatypeinfo.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

docs: Fix lint warnings
  _docs_source/conf.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Add a max_generations input to the game of life example (#385)
  examples/game_of_life/game_of_life.measui
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

workflows: Check documentation in `check_nims` and fix Sphinx errors/warnings (#384)
  .github/workflows/check_nims.yml
  _docs_source/conf.py
  ni_measurementlink_service/_datatypeinfo.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/parameter/metadata.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  poetry.lock
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Update versions for 1.3 and MeasurementLink 2024 Q1
  README.md
  examples/README.md
  ni_measurementlink_generator/README.md
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Update versions for 1.3 and MeasurementLink 2024 Q1 (#387)
  README.md
  examples/README.md
  ni_measurementlink_generator/README.md
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Include game_of_life in list of examples
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Include game_of_life in list of examples (#388)
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Add SessionManagementClient to MeasurementService and rework initialization code (#386)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/service.py
  ni_measurementlink_service/session_management.py
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update reserve_session(s) to accept a single pin
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add tests for reserve_session(s) with single pin and no optional args
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update default timeout to 0.0
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add test case for explicit None
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update session management docs
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix lint warnings
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Include game_of_life in list of examples (#388)
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Fix units in timeout docs
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Specify explicit default timeout for reserve_all_registered_sessions too
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[releases/1.2] Include game_of_life in list of examples (#388) (#390)
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

service: Refactor timeout code and raise a warning for negative timeouts other than -1
  ni_measurementlink_service/session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add more timeout test cases
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service, tests: Fix lint warnings
  ni_measurementlink_service/session_management.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

[releases/1.2] Fix the discovery service to not terminate on parent process closure (#391)
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update reserve_session(s) to accept a single pin and explicitly specify default timeout (#389)
  ni_measurementlink_service/session_management.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing reservation timeout and instrument ID from reserve_session calls in our examples.
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/output_voltage_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing timeouts from teststand_fixture.py. Default value is already 0.
  examples/nidaqmx_analog_input/teststand_fixture.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
  examples/output_voltage_measurement/teststand_nidcpower.py
  examples/output_voltage_measurement/teststand_nivisa_dmm.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Clean up grpc_servicer.py
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Remove unnecessary type hints
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Clean up grpc_servicer.py (#394)
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Clean up service_manager.py
  ni_measurementlink_service/_internal/service_manager.py
  ni_measurementlink_service/measurement/service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix launching of discovery service during fresh install
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix test failure
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix import failure for win32file
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix test failure by adding if checks for win32 platform
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint error
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati
