Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

repo: Add security policy
  SECURITY.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

repo: Add security policy (#577)
  SECURITY.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

fix: add helper function using sys.version
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: lint errors
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: use os.path to avoid os errors for invalid file paths (#575)
  ni_measurementlink_service/_dotenvpath.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Created base session container
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Prepublish steps to make version 1.3.0 in packages and examples
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Bump main packages to 1.4.0-dev0
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Prepublish steps to make version 1.3.0 in packages and examples (#582)
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Bump main packages to 1.4.0-dev0 (#583)
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Downgrade NIMS and NIMG back to 1.3.0-dev2 so the build can set it to 1.3.0 and succeed
  ni_measurementlink_generator/pyproject.toml
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Don't commit version changes if empty
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add conditional for pushing commit to branch
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Use GITHUB_OUTPUT for check
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Move brackets outside whole expression
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Add a fi statement. Use a boolean variable
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Check if NIMS and NIMG versions are different before committing (#585)
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Check if NIMS and NIMG versions are different before committing (#585)
  .github/workflows/Publish_NIMS.yml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Change examples in main to use 1.3.0 released packages
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix .toml file
  examples/nivisa_dmm_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix .toml file
  examples/nivisa_dmm_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Only update the top level and examples readme
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Fix output voltage .toml
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix output voltage example .toml
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Fix mistake in ni-visa-dmm measurement (#588)
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Post publish workflow to update main after the 1.3.0 release (#587)
  .github/workflows/Publish_NIMS.yml
  README.md
  examples/README.md
  examples/game_of_life/pyproject.toml
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/output_voltage_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

fixed review comments
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fixed balck formatting
  ni_measurementlink_service/session_management/_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Create Base Class to Consolidate Common Properties in BaseReservation and BaseMultiplexer (#581)
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

proto: update pin map service and session management service to accomodate mux data
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/pinmap/v1/pin_map_service.proto
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/sessionmanagement/v1/session_management_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: accomodate multiplexer info in reserve api response
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
  tests/integration/session_management/test_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

improve grammer in documentation
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/pinmap/v1/pin_map_service.proto
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/sessionmanagement/v1/session_management_service.proto
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: update tests name
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

regenerate stubs for the updated proto doc.
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: fix test case names
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix: return empty list when there's no multiplexer
  ni_measurementlink_service/session_management/_reservation.py
  tests/integration/session_management/test_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

nims: update reserve API's response to accommodate multiplexer session info (#595)
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/pinmap/v1/pin_map_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.py
  ni_measurementlink_service/_internal/stubs/ni/measurementlink/sessionmanagement/v1/session_management_service_pb2.pyi
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/pinmap/v1/pin_map_service.proto
  ni_measurementlink_service/_internal/stubs/proto/ni/measurementlink/sessionmanagement/v1/session_management_service.proto
  ni_measurementlink_service/session_management/_client.py
  ni_measurementlink_service/session_management/_reservation.py
  ni_measurementlink_service/session_management/_types.py
  tests/integration/session_management/test_reservation.py
  tests/unit/test_session_management.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix duplicate test parameters
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Fix duplicate test parameters (#597)
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update game of life style
  examples/game_of_life/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
