Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix lint error for VISA DMM Fixtures
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update Readme to include TestStand sequence simplification for VISA DMM
  examples/nivisa_dmm_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Update nidigital_spi helpers
  examples/nidigital_spi/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Refactor nidigital_spi TestStand fixture
  examples/nidigital_spi/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update nidigital_spi TestStand sequence
  examples/nidigital_spi/NIDigitalSPI.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Add setup/cleanup note to README
  examples/nidigital_spi/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

examples: Fix type annotations
  examples/nidigital_spi/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix lint errors
  examples/nidigital_spi/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Create nidigital_spi example (#245)
  examples/nidigital_spi/NIDigitalSPI.instudioproj
  examples/nidigital_spi/NIDigitalSPI.measproj
  examples/nidigital_spi/NIDigitalSPI.measui
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidigital_spi/NIDigitalSPI.serviceconfig
  examples/nidigital_spi/NIDigitalSPI.sfp
  examples/nidigital_spi/Pattern.digipat
  examples/nidigital_spi/PinLevels.digilevels
  examples/nidigital_spi/PinMap.pinmap
  examples/nidigital_spi/README.md
  examples/nidigital_spi/SPI Example.digiproj
  examples/nidigital_spi/Shmoo.digishmoo
  examples/nidigital_spi/Specifications.specs
  examples/nidigital_spi/Timing.digitiming
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/poetry.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidigital_spi/start.bat
  examples/nidigital_spi/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Refactor command line options
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use session-based simulation by default
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidigital_spi/README.md
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/README.md
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/README.md
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/README.md
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Readme for test stand seq update is word wrapped
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidmm_measurement/README.md
  examples/nifgen_standard_function/README.md
  examples/niscope_acquire_waveform/README.md
  examples/niswitch_control_relays/README.md
  examples/nivisa_dmm_measurement/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

Updated the TestStand sequence of measurement examples to make it simpler (DMM, FGEN, SCOPE, SWITCH, VISA DMM) (#254)
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/nifgen_standard_function/README.md
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niscope_acquire_waveform/README.md
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/niswitch_control_relays/README.md
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
  examples/nivisa_dmm_measurement/README.md
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Fix lint errors
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Change shared options to use explicit decorator functions
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use correct session construction options
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use more accurate type annotations for decorators
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidigital_spi/_helpers.py
  examples/nidmm_measurement/_helpers.py
  examples/nifgen_standard_function/_helpers.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niswitch_control_relays/_helpers.py
  examples/nivisa_dmm_measurement/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Refactor command line options (#257)
  examples/nidaqmx_analog_input/_helpers.py
  examples/nidaqmx_analog_input/measurement.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/_helpers.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/_helpers.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/_helpers.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/_helpers.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/_helpers.py
  examples/niswitch_control_relays/measurement.py
  examples/nivisa_dmm_measurement/_helpers.py
  examples/nivisa_dmm_measurement/measurement.py
  examples/sample_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Use correct directory hierarchy to enable docstring exclusion
  ni_measurementlink_generator/tests/acceptance/test_generator.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

generator: Upgrade ni-python-styleguide
  ni_measurementlink_generator/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

generator: Update poetry.lock
  ni_measurementlink_generator/poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

tests: Update generator test fixtures
  ni_measurementlink_generator/conftest.py
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Upgrade ni-python-styleguide to version 0.4.1 (#253)
  ni_measurementlink_generator/conftest.py
  ni_measurementlink_generator/poetry.lock
  ni_measurementlink_generator/pyproject.toml
  ni_measurementlink_generator/tests/acceptance/test_generator.py
  ni_measurementlink_generator/tests/conftest.py
  ni_measurementlink_service/__init__.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  poetry.lock
  pyproject.toml
  tests/acceptance/test_measurement_service.py
  tests/integration/test_service_manager.py
  tests/unit/test_discovery_client.py
  tests/unit/test_metadata.py
  tests/unit/test_serialization_strategy.py
  tests/unit/test_serializer.py
  tests/unit/test_service.py
  tests/utilities/fake_discovery_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add V1/V2 servicers
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/service_manager.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

discovery_client: Add measurement v2
  ni_measurementlink_service/_internal/discovery_client.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update serializer type annotations and docstrings
  ni_measurementlink_service/_internal/parameter/serializer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

tests: Add a couple test cases for measurement v2
  tests/acceptance/test_measurement_service.py
  tests/assets/example.serviceconfig
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update grpc_servicer type annotations
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Added common helper method to reserve and create session for DC power example
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Added instrument type id param to create session
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add comment to denote session creation functionality for teststand fixture
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Add support for measurement v2 interface (#261)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/_internal/grpc_servicer.py
  ni_measurementlink_service/_internal/parameter/serializer.py
  ni_measurementlink_service/_internal/service_manager.py
  tests/acceptance/test_measurement_service.py
  tests/assets/example.serviceconfig
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint errors in session creation and reservation funtions
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix mypy errors
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Add a type annotation for session_kwargs too
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidigital_spi/measurement.py
  examples/nidmm_measurement/measurement.py
  examples/nifgen_standard_function/measurement.py
  examples/niscope_acquire_waveform/measurement.py
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Use session-based simulation by default (#258)
  examples/nidcpower_source_dc_voltage/README.md
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
  examples/nidigital_spi/README.md
  examples/nidigital_spi/measurement.py
  examples/nidigital_spi/teststand_fixture.py
  examples/nidmm_measurement/README.md
  examples/nidmm_measurement/measurement.py
  examples/nidmm_measurement/teststand_fixture.py
  examples/nifgen_standard_function/README.md
  examples/nifgen_standard_function/measurement.py
  examples/nifgen_standard_function/teststand_fixture.py
  examples/niscope_acquire_waveform/README.md
  examples/niscope_acquire_waveform/measurement.py
  examples/niscope_acquire_waveform/teststand_fixture.py
  examples/niswitch_control_relays/README.md
  examples/niswitch_control_relays/measurement.py
  examples/niswitch_control_relays/teststand_fixture.py
  examples/nivisa_dmm_measurement/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Add python_ivi_dmm_measurement
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.instudioproj
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.measproj
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.measui
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.pinmap
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.seq
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.serviceconfig
  examples/python_ivi_dmm_measurement/PythonIviDmmMeasurement.sfp
  examples/python_ivi_dmm_measurement/README.md
  examples/python_ivi_dmm_measurement/_helpers.py
  examples/python_ivi_dmm_measurement/measurement.py
  examples/python_ivi_dmm_measurement/poetry.toml
  examples/python_ivi_dmm_measurement/pyproject.toml
  examples/python_ivi_dmm_measurement/start.bat
  examples/python_ivi_dmm_measurement/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

service: Add support for yielding incremental updates
  ni_measurementlink_service/_internal/grpc_servicer.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Update version to 1.1.0a0
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Add support for updating outputs during the measurement (#262)
  ni_measurementlink_service/_internal/grpc_servicer.py
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
