Repository ni/measurement-plugin-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Group related things and update readme
  examples/nidaqmx_analog_input/README.md
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Fix lint errors
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix lint error due to imports
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix pipeline failures
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fix pipeline failure using black
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Update nidaqmx analog input example with latest nidaqmx-python changes (#268)
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.instudioproj
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.measproj
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.measui
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.pinmap
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.sfp
  examples/nidaqmx_analog_input/README.md
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

examples: Refactor code for create and reserve session DC power
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Added type annotations for helper functions
  examples/nidcpower_source_dc_voltage/_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Renamed create session function, ordered reserve session params
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Enclose reserve and create session code inside with statement to prevent leakage
  examples/nidcpower_source_dc_voltage/measurement.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fix lint errors
  examples/nidcpower_source_dc_voltage/_helpers.py
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/measurement.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update docstring for create and reserve session functions
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Fixed docstring lint errors
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Updated destroy session code to reuse helper methods
  examples/nidcpower_source_dc_voltage/_nidcpower_helpers.py
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

examples: Update docs to redirect users to the appropriate release (#265)
  PoetryInstallFail.png
  README.md
  examples/README.md
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati

add initialization behavior in session creation
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

fix lint errors
  examples/nidcpower_source_dc_voltage/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Use NXG/fuse controls for LabVIEW measurement UIs
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageUI.vi
  examples/sample_measurement/SampleMeasurement.vi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Use NXG/fuse controls for LabVIEW measurement UIs (#272)
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltageUI.vi
  examples/sample_measurement/SampleMeasurement.vi
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Use resource_name instead of session_name when creating Task
  examples/nidaqmx_analog_input/measurement.py
  examples/nidaqmx_analog_input/teststand_fixture.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

ServiceInfo now gets the provided interfaces from the .serviceconfig file.
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/examples.v1.serviceconfig
  tests/assets/examples.v2.serviceconfig
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Running linter.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing typing lint error.
  ni_measurementlink_service/measurement/info.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Moving provided interface parameter last and making optional.
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/unit/test_discovery_client.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Renaming example service config files.
  tests/assets/example.v1.serviceconfig
  tests/assets/example.v2.serviceconfig
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Adding test fixture to get test asset directory.
  tests/conftest.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Renaming test.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Removing unnecessary import.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing type annotation and typo.
  ni_measurementlink_service/measurement/info.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing additional type annotation.
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

service: Use grpc-stubs for type information
  pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

service: Update poetry.lock
  poetry.lock
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

examples: Use grpc-stubs for type information
  examples/nidaqmx_analog_input/pyproject.toml
  examples/nidcpower_source_dc_voltage/pyproject.toml
  examples/nidigital_spi/pyproject.toml
  examples/nidmm_measurement/pyproject.toml
  examples/nifgen_standard_function/pyproject.toml
  examples/niscope_acquire_waveform/pyproject.toml
  examples/niswitch_control_relays/pyproject.toml
  examples/nivisa_dmm_measurement/pyproject.toml
  examples/sample_measurement/pyproject.toml
  examples/ui_progress_updates/pyproject.toml
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

ServiceInfo now gets the provided interfaces from the .serviceconfig (#274)
  ni_measurementlink_service/_internal/discovery_client.py
  ni_measurementlink_service/measurement/info.py
  ni_measurementlink_service/measurement/service.py
  tests/assets/example.v1.serviceconfig
  tests/assets/example.v2.serviceconfig
  tests/conftest.py
  tests/unit/test_discovery_client.py
  tests/unit/test_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Add pre-commit to prevent someone committing directly to main
  .github/hooks/pre-commit
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Updated the example TestStand sequences to disable result recording in Setup and Cleanup blocks
  examples/nidaqmx_analog_input/NIDAQmxAnalogInput.seq
  examples/nidcpower_source_dc_voltage/NIDCPowerSourceDCVoltage.seq
  examples/nidigital_spi/NIDigitalSPI.seq
  examples/nidmm_measurement/NIDmmMeasurement.seq
  examples/nifgen_standard_function/NIFgenStandardFunction.seq
  examples/niscope_acquire_waveform/NIScopeAcquireWaveform.seq
  examples/niswitch_control_relays/NISwitchControlRelays.seq
  examples/nivisa_dmm_measurement/NIVisaDmmMeasurement.seq
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan

Creating predicitable streaming measurement example and writing tests.
  examples/sample_streaming_measurement/README.md
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measproj
  examples/sample_streaming_measurement/SampleStreamingMeasurement.measui
  examples/sample_streaming_measurement/SampleStreamingMeasurement.serviceconfig
  examples/sample_streaming_measurement/measurement.py
  examples/sample_streaming_measurement/poetry.toml
  examples/sample_streaming_measurement/pyproject.toml
  examples/sample_streaming_measurement/start.bat
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_v2_measurement_service.py
  tests/assets/sample_streaming_measurement_test.proto
  tests/assets/sample_streaming_measurement_test_pb2.py
  tests/assets/sample_streaming_measurement_test_pb2.pyi
  tests/assets/sample_streaming_measurement_test_pb2_grpc.py
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @nstokes-nati, @mshafer-ni

Running styleguide fix.
  examples/sample_streaming_measurement/measurement.py
  tests/acceptance/test_measurement_service.py
  tests/acceptance/test_v2_measurement_service.py
  tests/conftest.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Fixing some comments.
  examples/sample_streaming_measurement/measurement.py
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

Renaming some test helper methods.
  tests/acceptance/test_v2_measurement_service.py
Owners: @csjall, @pbirkhol-ni, @dixonjoel, @bkeryan, @mshafer-ni, @nstokes-nati

.github/CODEOWNERS:

# Default code owner for the repository
* @csjall @pbirkhol-ni @dixonjoel @bkeryan

# Add mshafer-ni and nstokes-nati for Python files
*.py @csjall @pbirkhol-ni @dixonjoel @bkeryan @mshafer-ni @nstokes-nati

# Add nstokes-nati for documentation
*.md @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
/_docs_source/ @csjall @pbirkhol-ni @dixonjoel @bkeryan @nstokes-nati
